<template>
<div>
  <Breadcrumb :data="[{
      name: breadcrumb_project,
      nameRouter: 'ProjectList'
    },{
      name: breadcrumb_layout,
      nameRouter: 'LayoutList'
    },{
      name: 'Rooms',
      nameRouter: 'RoomList'
    }, {
      name: isNew ? 'New layout' : dataDetail.name,
      
    }]" />
  <div class="content-heading d-flex justify-content-between mb-3 mt-3">
    <span></span>
    <div class>
      <a-button icon="close" class="ml-3" @click="handleCancel">
        Cancel
      </a-button>
      <a-button icon="delete" v-if="isNew === false" type="danger" class="ml-3" @click="handleDelete">
        Delete
      </a-button>
    </div>
  </div>

  <div class="content bg-white p-5 mb-3">
    
    <a-form-model ref="ruleForm" :rules="rules" :model="form" :label-col="labelCol" :wrapper-col="wrapperCol">
      
      <a-form-model-item label="Name" prop="room_name" ref="room_name">
        <a-input v-model="form.room_name" @blur="() => {$refs.room_name.onFieldBlur()}" />
      </a-form-model-item>
      
      <a-form-model-item label="Room Key Name" prop="room_id" ref="room_id">
        <a-input v-model="form.room_id" @blur="() => {$refs.room_id.onFieldBlur()}" />
      </a-form-model-item>

      <a-form-model-item label="Slug" prop="slug" ref="slug">
        <a-input v-model="form.slug" @blur="() => {$refs.slug.onFieldBlur()}"/>
      </a-form-model-item>

      <a-form-model-item label="Status" prop="status" ref="status">
        <a-select v-model="form.status" placeholder="please select status">
          <a-select-option value="unpublished">
            Unpublished
          </a-select-option>
          <a-select-option value="published">
            Published
          </a-select-option>
          
        </a-select>
      </a-form-model-item>

      <a-form-model-item label="Layout" prop="layout" ref="layout">
      
          
        <a-select v-model="form.layout_int_id" placeholder="please select layout" @change="selectLayout" :disabled="layout != null"> 
          
          <a-select-option v-for="layout in layouts" :key="layout.int_id">
            {{layout.layout_name}}
          </a-select-option>
          
        
        </a-select>
      </a-form-model-item> 

      
      <a-form-model-item label="Category" prop="category" ref="category">
      
          
        <a-select v-model="form.room_category_key" placeholder="please select Category" @change="selectCategory">
          
          <a-select-option v-for="category in categories" :key="category.key" >
            {{category.name}}
          </a-select-option>
          
        
        </a-select>
      </a-form-model-item>


      <a-form-model-item label="Description">
        <a-input v-model="form.desc" type="textarea" />
      </a-form-model-item>

      <a-form-model-item label="Price estimated">
        <a-input v-model="form.metadata.price.estimated" />
        <a-collapse accordion>
          <a-collapse-panel header="Raw price" key="1">
            <div class="row">
              <div class="col-6">
                <a-form-model-item label="Price max" >
                  <a-input v-model="form.metadata.price.max" />
                </a-form-model-item>
              </div>
              <div class="col-6">
                <a-form-model-item label="Price min">
                  <a-input v-model="form.metadata.price.min" />
                </a-form-model-item>
              </div>
            </div>
          </a-collapse-panel>
        </a-collapse>
      </a-form-model-item>
      
      


      <a-form-model-item label="Room JSON">
        <a-input :rows="6" v-model="string_layout_json" type="textarea" />
      </a-form-model-item>

      <a-form-model-item label="Cart JSON">
        <a-input :rows="6" v-model="string_cart_json" type="textarea" />
      </a-form-model-item>

      <a-form-model-item label="Attributes">
        <!-- <a-form-model-item>
          <a-button type="dashed" style="width: 30%" @click="addAttributes">
            <a-icon type="plus" /> Add attribute
          </a-button>
        </a-form-model-item> -->
        <!-- <table-attribute :dataSource="form.attributes" :handleUpdate="dataNew => form.attributes = dataNew"></table-attribute> -->

        <generate-attribute :dataSource="form.attributes" :handleUpdate="dataNew => form.attributes = dataNew"></generate-attribute>
      </a-form-model-item>

      

      <a-form-model-item label="Image">
        <upload-simple :handleChange="(data) => {form.image_path = data.path; form.image_url = data.url}" :dataSource="form.image_url" :type="`image`" />
      </a-form-model-item>
      
      <!-- <a-form-model-item label="Paronama">
        <p :style="{ marginBottom: '20px' }">
          <a-checkbox :checked="form.extensions.panorama.enable" @change="(e) => {form.extensions.panorama.enable = !form.extensions.panorama.enable}">
            Enable
          </a-checkbox>
        </p>
        <a-input v-model="form.extensions.panorama.url" placeholder="Url" />
      </a-form-model-item> -->

      <a-form-model-item :wrapper-col="{ span: 14, offset: 4 }">
        <a-button type="primary" @click="handleSubmit" icon="save">
          {{isNew ? 'Create' : 'Save'}}
        </a-button>
        <a-button class="ml-3" icon="close" @click="handleCancel">
          Cancel
        </a-button>
      </a-form-model-item>
    </a-form-model>
  </div>
</div>
</template>
<script>
import Breadcrumb from "@/components/breadcrumb";
// import TableAttribute from "@/components/layout/tableAttribute";
import GenerateAttribute from "@/components/project/generateAttribute";
import UploadSimple from "@/components/common/uploadSimple";
import { get } from "lodash";
import { mapGetters } from "vuex";
export default {
  name: 'RoomDetail',
  components: {
    // TableAttribute,
    GenerateAttribute,
    Breadcrumb,
    UploadSimple,
  },
  data() {
    let project = this.$route.params.project;
    let layout = this.$route.params.layout;
    let breadcrumb_project = project ? `Project - "${project.project_name}"` : "Projects";
    let breadcrumb_layout = layout ? `Layout - "${layout.layout_name}"` : "Layouts";
    return {
      project : project,
      layout : layout,
      breadcrumb_project : breadcrumb_project,
      breadcrumb_layout : breadcrumb_layout,
      categories : [],
      layouts: [],
      string_cart_json : "",
      string_layout_json: "",
      labelCol: { span: 4 },
      wrapperCol: { span: 14 },
      form: {
        int_id: 0,
        parent: 0,
        layout_key_name: null,
        layout_id: 0,
        layout_name: "",
        layout_int_id : layout ? layout.int_id : null,
        room_name : "",
        room_id : "",
        room_category_key: "",
        room_category_name: "",
        slug: "",
        image_path: "",
        image_url: "",
        desc : null,
        area: 0,
        image_floor_plan_path: "",
        layout_image_floor_plan_url: "",
        layout_json: [],
        metadata: {
          title: "",
          intro: null,
          
          price: {
            estimated: 0,
            min: 0,
            max: 0,
          },
          rooms: [],
        },
        attributes: [],
        location: {
          // city_id: null,
          // district_id: null,
          // lat: null,
          // long: null,
          // city_name: '',
          // district_name: '',
          // address: '',
          block: '',
          apartment_code: '',
          //disctrict_name: '',
        },
        extensions: {
          cart_json: [],
          services_fee: [],
          panorama: {
            enable: false,
            url: null,
          },
        },
        publishing: {
          published_by: "",
          published_at: null,
        },
        updated_at: "",
        created_at: "",
      },
      rules: {
        room_name: [
          { required: true, message: 'Please input Name', trigger: 'blur' },
          { min: 3, message: 'Length must be more than 3', trigger: 'blur' }
        ],
       
        status: [
          { required: true, message: 'Please select Status', trigger: 'change' }
        ],
      },
      isNew: false
    };
  },
  computed: {
    ...mapGetters({
      dataDetail: 'room/getDetail'
    })
  },
  watch: { 
    dataDetail: function(newVal) { // watch it
      this.form = newVal;
      if(get(this.$route, 'params.id', 0) !=  newVal.int_id) {
        this.$router.push({params: {id: newVal.int_id}});
      }
      this.isNew = newVal.int_id === 0;
    }
  },
  created() {
    this.loading = true;
    
    this.getCategories();
    this.getLayouts();
    if(get(this.$route, 'params.id', 0) > 0 ) {
      this.$store.dispatch('room/detailRoomAPI', get(this.$route, 'params.id', 0)).then(response => {
        if (response.code === 0) {
         this.mappingJsonToString();
        }
      });
    } else {
      this.isNew = true;
    }
  },
  methods: {
    mappingJsonToString(){
      this.string_cart_json = JSON.stringify(this.form.extensions.cart_json);
      this.string_layout_json = JSON.stringify(this.form.room_json);
    },
    mappingStringToJson(){
      if(this.string_cart_json){
        
        this.form.extensions.cart_json = JSON.parse(this.string_cart_json);
      }
      if(this.string_layout_json){
        
        this.form.room_json = JSON.parse(this.string_layout_json);
      }
    },
    selectCategory(val){
      let _category = this.categories.filter(obj => {
        return obj.key == val
      })[0];
      this.form.room_category_name = _category.name;
    },
    
    selectLayout(val){
      let _layout = this.layouts.filter(obj => {
        return obj.int_id == val
      })[0];

      this.form.layout_id = _layout._id;
      this.form.layout_name = _layout.layout_name;
      
    },

    getCategories(){
      this.$store.dispatch('roomCategory/getRoomCategoriesAPI', {}).then(response => {
        
        if (response.code === 0) {
          this.categories = get(response, 'data.list', 1);
        }
      });
    },

    getLayouts(){
      this.$store.dispatch('layout/getLayoutsAPI',{ params: {status:'published' , page:1, limit: 1000}}).then(response => {     
        if (response.code === 0) {
          this.layouts = get(response, 'data.list', 1);
          if(this.layout ){
            this.selectLayout(this.layout.int_id);
          }
        }
      });
    },

    handleDelete() {
      this.$store.dispatch('room/deleteRoomAPI', get(this.$route, 'params.id', 0)).then(response => {
        if (response.code === 0) {
          this.$message.success(response.message);
        } else {
          this.$message.error(response.message);
        }
      });
    },
    addAttributes() {
      this.form.attributes.push({
        "id": Math.random(),
        "label": "",
        "key": "",
        "desc": "",
        "type": "int",
        "value": 1
      })
    },
    handleSubmit() {
      this.$refs.ruleForm.validate(valid => {
        if (valid) {
          this.mappingStringToJson();
          if (this.isNew) {
            this.$store.dispatch('room/postRoomAPI', this.form).then(response => {
              console.log(response);
              if (response.code === 0) {
                this.$message.success(response.message);
                this.handleCancel();
              } else {
                this.$message.error(response.message);
              }
            })
          } else {
            this.$store.dispatch('room/putRoomAPI', this.form).then(response => {
              console.log(response);
              this.handleCancel();
            })
          }
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    handleCancel() {
      this.$router.push({name: 'RoomList' , params : {layout: this.layout, project : this.project}});
    },
  },
  destroyed() {
    this.$store.commit('layout/SET_DETAIL', {});
  }
};
</script>
