<template>
  <div>
    <Breadcrumb :data="[{
      name: breadcrumb_project,
      nameRouter: 'ProjectList'
    },{
      name: breadcrumb_layout,
      nameRouter: 'LayoutList',
      params : {project : project}
    },{
      name: 'Rooms'
    }]" />
    <div class="content-heading d-flex justify-content-between mb-3">
      <span></span>
      <div class>
        <router-link :to="{ name: 'RoomDetail', params: { ...$route.params, id: 0 } }">
          <a-button>Add New</a-button>
        </router-link>
      </div>
    </div>

    <div class="content bg-white p-3 mb-3">
      <a-collapse :bordered="false">
        <a-collapse-panel header="Tìm kiếm" key="1">
          <a-form class="ant-advanced-search-form">
            <a-row :gutter="24">
              <a-col :span="5">
                <a-form-item :label="`Name`">
                  <a-input v-model="filters.name" />
                </a-form-item>
              </a-col>
            </a-row>

            <a-row>
              <a-col :span="24" :style="{ textAlign: 'right' }">
                <a-button type="primary" html-type="submit" icon="search" @click="handleFilter">Tìm kiếm</a-button>

                <a-button :style="{ marginLeft: '8px' }" @click="handleReset" icon="undo">Làm mới</a-button>
              </a-col>
            </a-row>
          </a-form>
        </a-collapse-panel>
      </a-collapse>
    </div>

    <div class="content bg-white p-3">
      <a-table
        :columns="columns"
        :dataSource="roomsList"
        :rowKey="record => record.int_id"
        :pagination="pagination"
        :loading="loading"
        @change="handleTableChange"
        bordered
      >
        <template slot="avatar" slot-scope="avatar">
          <img v-if="avatar" :src="avatar" class="img-fluid max-width-100" />
        </template>
        <template slot="action" slot-scope="props,row">
          <a-dropdown>
            <a-menu slot="overlay">
              <a-menu-item :key="'edit-'+row.int_id" @click="handleMenuClick('edit', props)"><a-icon type="edit" />Edit</a-menu-item>
              <a-menu-item :key="'delete-'+row.int_id" @click="handleMenuClick('delete', props)">
                <a-icon type="delete" />Delete
              </a-menu-item>
            </a-menu>
            <a-button style="margin-left: 8px"> Action <a-icon type="down" /> </a-button>
          </a-dropdown>
        </template>
      </a-table>
    </div>
  </div>
</template>

<script>
import Breadcrumb from "@/components/breadcrumb";
import { mapGetters } from "vuex";
import { get } from "lodash";
export default {
  name: "RoomList",
  components: {
    Breadcrumb
  },
  created() {
    this.handleLoadData();
  },
  computed: {
    ...mapGetters({
      roomsList: 'room/getRooms'
    })
  },
  data() {
    let project = this.$route.params.project;
    let project_id = this.$route.params.project_id;
    let layout = this.$route.params.layout;
    let layout_id = this.$route.params.layout_id;
    let breadcrumb_project = project ? `Project - "${project.project_name}"` : "Projects";
    let breadcrumb_layout = layout ? `Layout - "${layout.layout_name}"` : "Layouts";
    return {
      project : project,
      layout : layout,
      project_id,
      layout_id,
      breadcrumb_project : breadcrumb_project,
      breadcrumb_layout : breadcrumb_layout,
      columns: [{
        title: 'ID',
        dataIndex: 'int_id',
        width: '10%'
      },
      
      {
        title: 'Name',
        dataIndex: 'room_name',
        // sorter: true
      },
      {
        title: 'Category',
        dataIndex: 'room_category_name'
      },
      {
        title: 'Layout',
        dataIndex: 'layout_name'
      },
      
      {
        title: 'Image',
        dataIndex: 'image_url',
        scopedSlots: { customRender: 'avatar' },
      },
     
      { 
        title: 'Action', 
        dataIndex: '',
        scopedSlots: { customRender: 'action' } 
      }],
      loading: false,
      filters: {
        name: ''
      },
      sort: '',
      pagination: {
        pageSize: 10,
        total: 0,
        current: 1
      }
    };
  },
  methods: {
    handleLoadData() {
      this.loading = true;
       let params = {
        page: this.pagination.current,
        limit: this.pagination.pageSize,
        name: this.filters.name,
        sort: this.sort,
        layout_id: this.layout_id
      };
      this.$store.dispatch('room/getRoomsAPI', {
        params: params
      }).then(response => {
        this.loading = false;
        if (response.code === 0) {
          this.pagination.current = get(response, 'data.meta.page', 1);
          this.pagination.total = get(response, 'data.meta.total', 0);
        }
      });
    },
    handleTableChange(pagination, filters, sorter) {
      console.log('handleTableChange', pagination, filters, sorter);
      this.pagination.current = pagination.current;
      if (sorter.field) {
        this.sort = `${sorter.field}:${sorter.order === "descend" ? 'desc' : 'asc'}`
      } else {
        this.sort = '';
      }
      this.handleLoadData();
    },
    handleMenuClick(action, data) {
      console.log('handleMenuClick', action, data);
      switch (action) {
        case 'edit':
          this.$router.push({ name: 'RoomDetail', params: { ...this.$route.params, id: data.int_id } });
          break;
        case 'delete':
          this.$store.dispatch('room/deleteRoomAPI', data.int_id).then(response => {
            if (response.code === 0) {
              this.$message.success(response.message);
              this.handleLoadData();
            } else {
              this.$message.error(response.message);
            }
          });
          break;
        default:
          break;
      }
    },
    handleFilter() {
      console.log('handleMenuClick', this.filters);
      this.handleLoadData();
    },
    handleReset() {
      console.log('handleReset', this.filters);
      this.filters = {
        name: ''
      };
      this.handleLoadData();
    }
  }
};
</script>
