<template>
<div class="generate-attribute">
  <a-form-model-item v-for="(item, i) in dataSource" :key="'generate-attribute-'+ i" :label="item.label" :help="item.desc">
    <a-input-number v-model="item.value" v-if="item.type === 'int'" :formatter="value => parseInt(value)" />
    <a-input-number v-model="item.value" v-if="item.type === 'float'" :formatter="value => parseFloat(value)" />
    <a-input v-model="item.value" v-if="item.type === 'string'"/>
  </a-form-model-item>
</div>
</template>
<script>
export default {
  props: ["dataSource", "handleUpdate"],
}
</script>
<style lang="scss" >
.generate-attribute {
  .ant-form-item-label {
    width: 100%;
    text-align: left;
  }
  .ant-form-item-label label {
    margin-bottom: 0;
  }
  .ant-input-number {
    width: 100%;
  }
}
</style>