<template>
  <a-table :columns="columns" :dataSource="data" bordered :rowKey="record => record.id" :pagination="false">
    <template
      v-for="col in ['label', 'key', 'desc', 'value']"
      :slot="col"
      slot-scope="text, record"
    >
      <div :key="col">
        <a-input
          v-if="record.editable"
          style="margin: -5px 0"
          :value="text"
          @change="e => handleChange(e.target.value, record.id, col)"
        />
        <template v-else>{{text}}</template>
      </div>
    </template>
    <template
      slot="type"
      slot-scope="text, record"
    >
      <div :key="'type'">
        <a-select
          v-if="record.editable"
          style="margin: -5px 0"
          :value="text"
          @change="e => handleChange(e, record.id, 'type')"
        >
          <a-select-option value="int">
            int
          </a-select-option>
          <a-select-option value="float">
            float
          </a-select-option>
          <a-select-option value="string">
            string
          </a-select-option>
        </a-select>
        <template v-else>{{text}}</template>
      </div>
    </template>
    <template slot="operation" slot-scope="text, record">
      <div class="editable-row-operations">
        <span v-if="record.editable">
          <a class="mr-2" @click="() => onSave(record.id)"><a-icon type="save" /></a>
          <a-popconfirm title="Sure to cancel?" @confirm="() => onCancel(record.id)">
            <a-icon type="close" />
          </a-popconfirm>
        </span>
        <span v-else>
          <a-icon class="mr-2" type="edit" @click="() => onEdit(record.id)"/>
          
          <a-popconfirm title="Sure to delete?" @confirm="() => onDelete(record.id)">
            <a-icon type="delete"/>
          </a-popconfirm>
        </span>
      </div>
    </template>
  </a-table>
</template>

<script>
import { findIndex } from "lodash";
const columns = [
  {
    title: "label",
    dataIndex: "label",
    scopedSlots: { customRender: "label" }
  },
  {
    title: "key",
    dataIndex: "key",
    scopedSlots: { customRender: "key" }
  },
  {
    title: "desc",
    dataIndex: "desc",
    scopedSlots: { customRender: "desc" }
  },
  {
    title: "type",
    dataIndex: "type",
    scopedSlots: { customRender: "type" }
  },
  {
    title: "value",
    dataIndex: "value",
    scopedSlots: { customRender: "value" }
  },
  {
    title: "Action",
    dataIndex: "operation",
    scopedSlots: { customRender: "operation" }
  }
];
export default {
  props: ["dataSource", "handleUpdate"],
  data() {
    const data = this.dataSource.map(item => ({ ...item }));
    const cacheData = this.dataSource.map(item => ({ ...item }));
    return {
      data,
      cacheData,
      columns,
      editingid: ""
    };
  },
  watch: { 
    dataSource: function(newVal, oldVal) { // watch it
      console.log('Prop changed: ', newVal, ' | was: ', oldVal)
      this.data = newVal.map(item => ({ ...item, id: item.id || item._id }));
      this.cacheData = newVal.map(item => ({ ...item, id: item.id || item._id }));
      this.$forceUpdate();
    }
  },
  methods: {
    handleChange(value, id, column) {
      console.log('handleChange', value, id, column);
      const newData = [...this.data];
      const target = newData.filter(item => id === item.id)[0];
      if (target) {
        target[column] = value;
        this.data = newData;
      }
    },
    onEdit(id) {
      console.log('edit', id);
      const newData = [...this.data];
      const target = newData.filter(item => id === item.id)[0];
      this.editingid = id;
      if (target) {
        target.editable = true;
        this.data = newData;
      }
    },
    onDelete(id) {
      console.log('delete', id);
      const newData = [...this.data];
      const index = findIndex(newData, item => id == item.id);
      console.log(index, newData);
      if (index >= 0) {
        newData.splice(index, 1);
        this.data = newData;
      }
      if (typeof this.handleUpdate === 'function') {
          this.handleUpdate(newData);
        }
    },
    onSave(id) {
      console.log('save', id);
      const newData = [...this.data];
      const newCacheData = [...this.cacheData];
      const target = newData.filter(item => id === item.id)[0];
      const targetCache = newCacheData.filter(item => id === item.id)[0];
      if (target && targetCache) {
        delete target.editable;
        this.data = newData;
        Object.assign(targetCache, target);
        this.cacheData = newCacheData;
        if (typeof this.handleUpdate === 'function') {
          this.handleUpdate(newData);
        }
      }
    },
    onCancel(id) {
      console.log('cancel', id);
      const newData = [...this.data];
      const target = newData.filter(item => id === item.id)[0];
      this.editingid = "";
      if (target) {
        Object.assign(
          target,
          this.cacheData.filter(item => id === item.id)[0]
        );
        delete target.editable;
        this.data = newData;
      }
    }
  }
};
</script>