<template>
  <div>
    <div class="content-heading d-flex justify-content-between mb-3 mt-3">
      <Breadcrumb
        :data="[{
        name: breadcrumb_name,
        nameRouter: 'ProjectList'
      },{
        name: 'Layouts',
        nameRouter: 'LayoutList'
      }, {
        name: isNew ? 'New layout' : dataDetail.layout_name,
        
      }]"
      />
      <div class="mt-3">
        <a-button icon="close" class="ml-3" @click="handleCancel">Cancel</a-button>
        <a-popconfirm
          placement="bottomRight"
          title="Are you sure delete this layout?"
          ok-text="Yes"
          cancel-text="No"
          @confirm="handleDelete"
          v-if="isNew === false"
        >
          <a-button
            icon="delete"
            type="danger"
            class="ml-3"
          >Delete</a-button>
        </a-popconfirm>
      </div>
    </div>

    <div class="content bg-white p-5 mb-3">
      <a-form-model
        ref="ruleForm"
        :rules="rules"
        :model="form"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
      >
        <a-form-model-item label="Upload Panorama & Gallery">
          <upload-panorama-full-gallery
            :isNew="isNew"
            :layout_id="form.int_id"
            :handleChange="onUploadFull"
          />
        </a-form-model-item>

        <a-form-model-item label="Name" prop="layout_name" ref="layout_name">
          <a-input v-model="form.layout_name" @blur="() => {$refs.layout_name.onFieldBlur()}" />
        </a-form-model-item>

        <!-- <a-form-model-item label="Layout Key Name" prop="layout_key_name" ref="layout_key_name">
        <a-input v-model="form.layout_key_name" @blur="() => {$refs.layout_key_name.onFieldBlur()}" />
        </a-form-model-item>-->

        <a-form-model-item label="Slug" prop="slug" ref="slug">
          <a-input v-model="form.slug" @blur="() => {$refs.slug.onFieldBlur()}" />
        </a-form-model-item>

        <a-form-model-item label="Status" prop="status" ref="status">
          <a-select v-model="form.status" placeholder="please select status">
            <a-select-option value="unpublished">Unpublished</a-select-option>
            <a-select-option value="published">Published</a-select-option>
          </a-select>
        </a-form-model-item>

        <a-form-model-item label="Project" prop="project" ref="project" v-if="projects.length">
          <a-select
            @change="selectProject"
            v-model="form.project_int_id"
            placeholder="please select project"
          >
            <a-select-option
              v-for="project in projects"
              :key="'project_' + project.int_id"
              :value="project.int_id"
            >{{project.project_name}}</a-select-option>
          </a-select>
        </a-form-model-item>

        <a-form-model-item label="Style" prop="style" ref="style" v-if="form.metadata.style">
          <a-select
            v-model="form.metadata.style.key"
            placeholder="please select style"
            @change="selectStyle"
          >
            <a-select-option v-for="style in styles" :key="'style_'+style.slug" :value="style.slug">{{style.name}}</a-select-option>
          </a-select>
        </a-form-model-item>

        <a-form-model-item label="Description">
          <a-input v-model="form.desc" type="textarea" />
        </a-form-model-item>

        <a-form-model-item label="Price estimated">
          <a-input v-model="form.metadata.price.estimated" />
          <a-collapse accordion>
            <a-collapse-panel header="Raw price" key="1">
              <div class="row">
                <div class="col-6">
                  <a-form-model-item label="Price max" label-col="24">
                    <a-input v-model="form.metadata.price.max" />
                  </a-form-model-item>
                </div>
                <div class="col-6">
                  <a-form-model-item label="Price min" label-col="24">
                    <a-input v-model="form.metadata.price.min" />
                  </a-form-model-item>
                </div>
              </div>
            </a-collapse-panel>
          </a-collapse>
        </a-form-model-item>

        <!-- <a-form-model-item label="Room number">
        <a-input v-model="form.metadata.room_number" />
        <a-collapse accordion>
          <a-collapse-panel header="Room detail" key="1">
            <div class="row">
              <div class="col-6">
                <a-form-model-item label="Bed room" label-col="24">
                  <a-input v-model="form.metadata.rooms.bed_room" />
                </a-form-model-item>
              </div>
              <div class="col-6">
                <a-form-model-item label="Kitchen" label-col="24">
                  <a-input v-model="form.metadata.rooms.kitchen" />
                </a-form-model-item>
              </div>
              <div class="col-6">
                <a-form-model-item label="Living room" label-col="24">
                  <a-input v-model="form.metadata.rooms.living_room" />
                </a-form-model-item>
              </div>
              <div class="col-6">
                <a-form-model-item label="Wc" label-col="24">
                  <a-input v-model="form.metadata.rooms.wc" />
                </a-form-model-item>
              </div>
            </div>
          </a-collapse-panel>
        </a-collapse>
        </a-form-model-item>-->

        <!-- <a-form-model-item label="Layout JSON">
        <a-input :rows="6" v-model="string_layout_json" type="textarea" />
        </a-form-model-item>-->

        <!-- <a-form-model-item label="Attributes">
        
        <generate-attribute :dataSource="form.attributes" :handleUpdate="dataNew => form.attributes = dataNew"></generate-attribute>
        </a-form-model-item>-->

        <a-form-model-item label="Area">
          <div class="row">
            <div class="col-6">
              <a-input v-model="form.area" placeholder="Area" />
            </div>
          </div>
        </a-form-model-item>

        <a-form-model-item label="Bedroom Qty">
        <div class="row">
          <div class="col-6">
            <a-input type="number" v-model="form.metadata.bedroom_num" placeholder="Bedroom Qty" />
          </div>
        </div>
        </a-form-model-item>

        <a-form-model-item label="Address">
          <div class="row">
            <div class="col-6">
              <a-input v-model="form.metadata.address.block" placeholder="Block" />
            </div>
            <div class="col-6">
              <a-input v-model="form.metadata.address.apartment_code" placeholder="Apartment" />
            </div>
            <!-- <div class="col-6">
            <a-input v-model="form.location.district_id" placeholder="district_id" />
          </div>
          <div class="col-6">
            <a-input v-model="form.location.lat" placeholder="lat" />
          </div>
          <div class="col-6">
            <a-input v-model="form.location.long" placeholder="long" />
            </div>-->
          </div>
        </a-form-model-item>

        <a-form-model-item label="Room Info">
          <a-collapse accordion>
            <a-collapse-panel header="List Rooms" key="2">
              <a-button type="dashed" style="width: 30%" @click="addRoom" class="mb-3">
                <a-icon type="plus" />Add Room
              </a-button>

              <div class="row" v-for="(room, index) in form.metadata.rooms" :key="index">
                <div class="col-5">
                  <a-form-model-item
                    :label-col="{ span: 24 }"
                    :wrapper-col="{ span: 24 }"
                    label="Loại phòng"
                    prop="room"
                    :ref="`room`+index"
                  >
                    <!-- <a-select
                      v-model="room.name"
                      placeholder="please select room"
                      @change="val => selectRoom(room, val)"
                      :disabled="!!room._id"
                    >
                      <a-select-option
                        v-for="room_cat in room_categories"
                        :key="room_cat.type"
                      >{{room_cat.name}}</a-select-option>
                    </a-select> -->
                    <a-input v-model="room.name" placeholder="Room name" />
                  </a-form-model-item>
                </div>

                <div class="col-5">
                  <a-form-model-item
                    :label-col="{ span: 24 }"
                    :wrapper-col="{ span: 24 }"
                    label="Area"
                  >
                    <a-input v-model="room.area" />
                  </a-form-model-item>
                </div>

                <div class="col-2" v-if="form.int_id">
                  <a-button
                    icon="check"
                    class="float-right"
                    style="margin-top: 31px"
                    @click="() => onRoomCreate(room, form.int_id)"
                    v-if="!room._id"
                  ></a-button>
                  <a-button
                    icon="delete"
                    type="danger"
                    class="float-right"
                    style="margin-top: 31px"
                    @click="() => onRoomDelete(room, form.int_id)"
                    v-if="room._id"
                  ></a-button>
                </div>
              </div>
            </a-collapse-panel>
          </a-collapse>
        </a-form-model-item>

        <!-- <a-form-model-item label="User Email">
          <a-input v-model="form.metadata.user_info.email" />
          <a-collapse accordion>
            <a-collapse-panel header="Additional Info" key="2">
              <div class="row">
                <div class="col-6">
                  <a-form-model-item label="Name">
                    <a-input v-model="form.metadata.user_info.name" />
                  </a-form-model-item>
                </div>
                <div class="col-6">
                  <a-form-model-item label="Phone">
                    <a-input v-model="form.metadata.user_info.phone" />
                  </a-form-model-item>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <a-form-model-item label="Address">
                    <a-input v-model="form.metadata.user_info.address" />
                  </a-form-model-item>
                </div>
              </div>
            </a-collapse-panel>
          </a-collapse>
        </a-form-model-item> -->

        <a-form-model-item label="Gallery" v-if="dataDetail.int_id">
          <upload-gallery
            :layout_id="dataDetail.int_id"
            :handleChange="loadData"
            :dataSource="form.gallery"
            :type="`image`"
          />
        </a-form-model-item>

        <a-form-model-item label="Image">
          <upload-simple
            :handleChange="(data) => {form.image_path = data.path; form.layout_image_url = data.url}"
            :dataSource="form.layout_image_url"
            :type="`image`"
          />
        </a-form-model-item>

        <a-form-model-item label="Image Floor Plan">
          <upload-simple
            :handleChange="(data) => {form.image_floor_plan_path = data.path; form.layout_image_floor_plan_url = data.url}"
            :dataSource="form.layout_image_floor_plan_url"
            :type="`image`"
          />
        </a-form-model-item>

        <a-form-model-item label="Upload Layout Json" v-if="dataDetail.int_id">
          <upload-layout :layout_id="dataDetail.int_id" :handleChange="loadData" />
        </a-form-model-item>

        <a-form-model-item label="Upload Panorama Zip" v-if="dataDetail.int_id">
          <upload-panorama
            :project_id="project_id"
            :layout_id="dataDetail.int_id"
            :handleChange="loadData"
          />
        </a-form-model-item>

        <a-form-model-item label="Paronama">
          <!-- <p :style="{ marginBottom: '20px' }">
            <a-checkbox
              :checked="get(form, 'extensions.panorama.enable', 0) === 1"
              @change="(e) => {form.extensions.panorama.enable = !form.extensions.panorama.enable}"
            >Enable</a-checkbox>
          </p> -->
          <a-input v-model="form.extensions.panorama.url" placeholder="Url" />
        </a-form-model-item>

        <a-form-model-item label="Upload Cart Json" v-if="dataDetail.int_id">
          <upload-cart :layout_id="dataDetail.int_id" :handleChange="loadData" />
        </a-form-model-item>

        <a-form-model-item label="Build quotation" v-if="dataDetail.int_id">
          <a-button icon="build" @click="handleBuildQuotation">Build</a-button>
          <br>
          <a v-bind:href="quotation_build_url" v-if="quotation_build_url" target="_blank">{{quotation_build_url}}</a>
        </a-form-model-item>

        <!-- <a-form-model-item label="Cart JSON">
        <a-input disabled :rows="8" v-model="string_cart_json" type="textarea" />
        </a-form-model-item>-->

        <a-form-model-item
          v-if="form.quotation_url || form.cart_url || form.extensions.panorama.url"
          label="Chi tiết"
        >
          <a
            v-bind:href="form.extensions.panorama.url"
            v-if="form.extensions.panorama.url"
            target="_blank"
          >Xem Panorama</a>
          <br />
          <a v-bind:href="form.quotation_url" v-if="form.quotation_url" target="_blank">Xem báo giá</a>
          <br />
          <a v-bind:href="form.cart_url" v-if="form.cart_url" target="_blank">Xem cart</a>
      
        </a-form-model-item>

        <a-form-model-item :wrapper-col="{ span: 14, offset: 4 }">
          <a-button type="primary" @click="handleSubmit" icon="save">{{isNew ? 'Create' : 'Save'}}</a-button>
          <a-button class="ml-3" icon="close" @click="handleCancel">Cancel</a-button>
        </a-form-model-item>
      </a-form-model>
    </div>
  </div>
</template>
<script>
import Breadcrumb from "@/components/breadcrumb";
// import TableAttribute from "@/components/project/tableAttribute";
//import GenerateAttribute from "@/components/project/generateAttribute";
import UploadSimple from "@/components/common/uploadSimple";
import UploadGallery from "./uploadGallery";
import { get, set } from "lodash";
import { mapGetters } from "vuex";
import UploadCart from "./uploadCartJson";
import UploadPanorama from "./uploadPanoramaZip";
import UploadLayout from "./uploadLayoutJson";
import UploadPanoramaFullGallery from "./uploadPanoramaFullGalleryZip";
import apiConsultantCMSService from "@/store/services/apiConsultantCMSService";
import apiConsultantService from "@/store/services/apiConsultantService";
export default {
  name: "LayoutDetail",
  components: {
    // TableAttribute,
    //GenerateAttribute,
    Breadcrumb,
    UploadSimple,
    UploadCart,
    UploadPanorama,
    UploadLayout,
    UploadPanoramaFullGallery,
    UploadGallery
  },
  data() {
    return {
      quotation_build_url : null,
      get,
      breadcrumb_name: "Projects",
      styles: [],
      projects: [],
      room_categories: [],
      project_id: 0,
      project: null,
      string_cart_json: "",
      string_layout_json: "",
      labelCol: { span: 4 },
      wrapperCol: { span: 14 },
      form: {
        int_id: 0,
        parent: 0,
        layout_key_name: null,
        project_id: 0,
        project_int_id: 0,
        project_name: "",
        layout_name: "",
        slug: "",
        image_path: "",
        layout_image_url: "",
        desc: null,
        area: null,
        image_floor_plan_path: "",
        layout_image_floor_plan_url: "",
        //layout_json: [],
        metadata: {
          title: "",
          intro: null,
          style: {
            key: "",
            name: ""
          },
          user_info: {
            name: null,
            email: null,
            address: null,
            phone: null
          },
          price: {
            estimated: 0,
            min: 0,
            max: 0
          },
          rooms: [],
          bedroom_num: null,
          creator: {
            int_id: null,
            email: null
          },
          address: {
            block: "",
            apartment_code: ""
          },
          approved: false
        },
        attributes: [],
        // location: {
        //   // city_id: null,
        //   // district_id: null,
        //   // lat: null,
        //   // long: null,
        //   // city_name: '',
        //   // district_name: '',
        //   // address: '',
        //   block: '',
        //   apartment_code: '',
        //   //disctrict_name: '',
        // },
        extensions: {
          //  cart_json: [],
          services_fee: [],
          panorama: {
            enable: false,
            url: null
          }
        },
        publishing: {
          published_by: "",
          published_at: null
        },
        updated_at: "",
        created_at: "",
        cart_url: null,
        quotation_url: null
      },
      rules: {
        layout_name: [
          { required: true, message: "Please input Name", trigger: "blur" },
          { min: 3, message: "Length must be more than 3", trigger: "blur" }
        ],

        status: [
          { required: true, message: "Please select Status", trigger: "change" }
        ]
      },
      isNew: false
    };
  },
  computed: {
    ...mapGetters({
      dataDetail: "layout/getDetail"
    })
  },
  watch: {
    dataDetail: function(newVal) {
      // watch it
      this.form = newVal;
      if (get(this.$route, "params.id", 0) != newVal.int_id) {
        this.$router.push({ params: { id: newVal.int_id } });
      }
      if (this.project_id != newVal.project_int_id) {
        this.project_id = newVal.project_int_id;
      }
      this.isNew = newVal.int_id === 0;
    }
  },
  created() {
    this.loading = true;
    if (get(this.$route, "query.project_id", 0)) {
      this.project_id = get(this.$route, "query.project_id", 0);
    }

    this.getStyles();
    this.getProject();
    this.getRoomCategories();
    this.loadData();
  },
  methods: {
    loadData() {
      if (get(this.$route, "params.id", 0) > 0) {
        this.$store
          .dispatch("layout/detailLayoutAPI", get(this.$route, "params.id", 0))
          .then(response => {
            if (response.code === 0) {
              this.mappingJsonToString();
            }
          });
      } else {
        this.isNew = true;
      }
    },
    mappingJsonToString() {
      this.string_cart_json = JSON.stringify(this.form.extensions.cart_json);
      //this.string_layout_json = JSON.stringify(this.form.layout_json);
    },
    mappingStringToJson() {
      if (this.string_cart_json) {
        this.form.extensions.cart_json = JSON.parse(this.string_cart_json);
      }
      // if(this.string_layout_json){
      //   this.form.layout_json = JSON.parse(this.string_layout_json);
      // }
    },
    selectStyle(val) {
      let _style = this.styles.filter(obj => {
        return obj.slug == val
      })[0];
      this.form.metadata.style.name = _style.name;
    },

    selectProject(val) {
      const _p = this.projects.filter(i => i.int_id === parseInt(val));
      if (_p.length) {
        let _t = get(_p, '0', {});
        set(this.form, 'project_int_id', _t.int_id)
        set(this.form, 'project_id', _t._id)
        set(this.form, 'project_name', _t.project_name)
      }
    },

    selectRoom(a) {
      let new_type = a.type;
      let _room = this.room_categories.filter(obj => {
        return obj.type == new_type;
      })[0];
      a.name = _room.name;
      a.type = _room.type;
    },

    getStyles() {
      this.$store.dispatch("style/getStylesAPI", {}).then(response => {
        if (response.code === 0) {
          this.styles = get(response, "data.list", 1);
        }
      });
    },

    getRoomCategories() {
      this.$store
        .dispatch("roomCategory/getRoomCategoriesAPI", {})
        .then(response => {
          if (response.code === 0) {
            this.room_categories = get(response, "data.list", 1);
          }
        });
    },

    getProject() {
      this.$store.dispatch('project/getProjectsAPI',{ params: { limit: 1000}}).then(response => {
        if (response.code === 0) {
          this.projects = get(response, 'data.list', []);
          if (this.project_id) {
            this.selectProject(this.project_id);
          }
        }
      });
    },

    handleDelete() {
      this.$store
        .dispatch("layout/deleteLayoutAPI", get(this.$route, "params.id", 0))
        .then(response => {
          if (response.code === 0) {
            this.$message.success(response.message);
          } else {
            this.$message.error(response.message);
          }
        });
    },
    addAttributes() {
      this.form.attributes.push({
        id: Math.random(),
        label: "",
        key: "",
        desc: "",
        type: "int",
        value: 1
      });
    },

    addRoom() {
      this.form.metadata.rooms.push({
        name: "",
        area: "",
        type: ""
      });
    },
    async onRoomCreate(room, layout_id) {
      console.log("onRoomCreate", room, layout_id);
      const { response } = await apiConsultantCMSService.createLayoutRoomAPI({
        layout_id: layout_id,
        rooms: [
          {
            type: room.type,
            area: room.area,
            name: room.name
          }
        ]
      });
      if (response.code === 0) {
        this.$message.success(response.message);
        this.loadData();
      } else {
        this.$message.error(response.message);
      }
    },
    async onRoomDelete(room, layout_id) {
      const { response } = await apiConsultantCMSService.deleteLayoutRoomAPI({
        layout_id: layout_id,
        room_id: room._id
      });
      if (response.code === 0) {
        this.$message.success(response.message);
        this.loadData();
      } else {
        this.$message.error(response.message);
      }
    },

    handleSubmit() {
      this.$refs.ruleForm.validate(valid => {
        if (valid) {
          this.mappingStringToJson();
          if (this.isNew) {
            this.$store
              .dispatch("layout/postLayoutAPI", this.form)
              .then(response => {
                console.log(response);
                if (response.code === 0) {
                  this.$message.success(response.message);
                  this.handleCancel();
                } else {
                  this.$message.error(response.message);
                }
              });
          } else {
            this.$store
              .dispatch("layout/putLayoutAPI", this.form)
              .then(response => {
                console.log(response);
                this.handleCancel();
              });
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleCancel() {
      this.$router.push({
        name: "LayoutList",
        query: { project_id: this.project_id }
      });
    },

    onUploadFull(data) {
      this.$router.push({
        name: "LayoutList",
        query: { project_id: data.project_id }
      });
    },

    handleBuildQuotation() {
      apiConsultantService.getBuildQuotationLayout(get(this.$route, "params.id", 0)).then(res => {
        console.log(res)
        if (res.response.code === 0) {
          this.quotation_build_url = res.response.data.quotation_url;
          this.$message.success(res.response.message);
        } else {
          this.$message.error(res.response.message);
        }
      }).catch(err => {
        console.log(err)
      })
    }
  },
  destroyed() {
    this.$store.commit("layout/SET_DETAIL", {});
  }
};
</script>
