<template>
  <div>
    <div class="content-heading d-flex justify-content-between mb-3">
      <Breadcrumb :data="[{
        name : breadcrumb_name,
        nameRouter : 'ProjectList'
      },{
        name: 'Layouts'
      }]" />
      <div class="mt-3">
        <router-link :to="{ name: 'LayoutDetail', params: {id: 0 }, query: {project_id : project_id} }">
          <a-button>Add new</a-button>
        </router-link>
      </div>
    </div>

    <div class="content bg-white p-3 mb-3">
      <a-collapse :bordered="false" default-active-key="0">
        <a-collapse-panel header="Search" key="1">
          <a-form class="ant-advanced-search-form">
            <a-row :gutter="24">
              <a-col :span="6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label col-form-label-sm">ID</label>
                  <div class="col-md-8">
                    <a-input v-model="filters.layout_id" />
                  </div>
                </div>
              </a-col>
              <a-col :span="6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label col-form-label-sm">Name</label>
                  <div class="col-md-8">
                    <a-input v-model="filters.name" />
                  </div>
                </div>
              </a-col>
              <a-col :span="6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label col-form-label-sm">Style</label>
                  <div class="col-md-8">
                    <a-select v-model="filters.style_id">
                      <a-select-option
                        v-for="item of styleList"
                        :key="'style_' + item.style_id"
                        :value="item.style_id"
                      >{{item.style_name}}</a-select-option>
                    </a-select>
                  </div>
                </div>
              </a-col>
              <a-col :span="6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label col-form-label-sm">Bedroom</label>
                  <div class="col-md-8">
                    <a-input-number class="w-100" v-model="filters.bedroom" />
                  </div>
                </div>
              </a-col>
            </a-row>

            <a-row>
              <a-col :span="24" :style="{ textAlign: 'right' }">
                <a-button type="primary" html-type="submit" icon="search" @click="handleFilter">Tìm kiếm</a-button>

                <a-button :style="{ marginLeft: '8px' }" @click="handleReset" icon="undo">Làm mới</a-button>
              </a-col>
            </a-row>
          </a-form>
        </a-collapse-panel>
      </a-collapse>
    </div>

    <div class="content bg-white p-3">
      <div class="row">
        <div class="col-5">
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Filter Project</label>
            <div class="col-9">
              <a-select
                show-search
                :value="project_id"
                placeholder="input search project"
                :default-active-first-option="false"
                :show-arrow="false"
                :filter-option="false"
                :not-found-content="null"
                style="width: 100%"
                @search="handleSearch"
                @change="handleChange"
              >
                <a-select-option v-for="p in projectsListSearch" :key="p.int_id">
                  {{ p.project_name }}
                </a-select-option>
              </a-select>
            </div>
          </div>
        </div>
        <div class="col-7">
          <div class="mb-3 text-right">
            <a-pagination
              :showTotal="total => `Total ${total} row`"
              :pageSizeOptions="pageSizeOptions"
              :total="pagination.total"
              showSizeChanger
              showQuickJumper
              :showTitl="`abc`"
              :pageSize="pagination.pageSize"
              v-model="pagination.current"
              @showSizeChange="onShowSizeChange"
              @change="onChangePaginator"
            >
              <template slot="buildOptionText" slot-scope="props">
                <span>{{props.value}} / Page</span>
              </template>
            </a-pagination>
          </div>
        </div>
        <div class="col-12">
          <a-table
            :columns="columns"
            :dataSource="layoutsList"
            :rowKey="record => record.int_id"
            :pagination="false"
            :loading="loading"
            @change="handleTableChange"
            bordered
          >
            <template slot="link_detail_name" slot-scope="props, row">
              <a class="text-primary" @click="handleMenuClick('detail', row)">{{ row.layout_name }}</a>
            </template>

            <template slot="link_detail_id" slot-scope="props, row">
              <a @click="handleMenuClick('detail', row)">{{ row.int_id }}</a>
            </template>

            <template slot="avatar" slot-scope="avatar">
              <img v-if="avatar" :src="avatar" class="img-fluid max-width-100" />
            </template>

            <template slot="rooms" slot-scope="rooms">
              {{handleRoomText(rooms)}}
            </template>
            
            <template slot="template" slot-scope="template" class="text-center">
              <a-icon v-if="template" type="check" />
            </template>

            <template slot="price" slot-scope="price" class="text-center">
              {{numeral(price).format('0,0')}}
            </template>

            <template slot="status_badge" slot-scope="status">
              <b-badge class="text-uppercase" :variant="status === 'published' ? 'success' : 'warning' " >{{status}}</b-badge>
            </template>

            <template slot="action" slot-scope="props">
              <a-tooltip placement="topLeft" title="Edit">
                <a-button size="small" type="primary" class="mr-2" @click="handleMenuClick('edit', props)">
                  <a-icon type="edit" />
                </a-button>
              </a-tooltip>
              <a-tooltip placement="topLeft" title="Delete">
                <a-button size="small" type="danger" @click="handleMenuClick('delete', props)">
                  <a-icon type="delete" />
                </a-button>
              </a-tooltip>
            </template>
          </a-table>
        </div>
        <div class="col-12">
          <div class="mt-3 text-right">
            <a-pagination
              :showTotal="total => `Total ${total} row`"
              :pageSizeOptions="pageSizeOptions"
              :total="pagination.total"
              showSizeChanger
              showQuickJumper
              :showTitl="`abc`"
              :pageSize="pagination.pageSize"
              v-model="pagination.current"
              @showSizeChange="onShowSizeChange"
              @change="onChangePaginator"
            >
              <template slot="buildOptionText" slot-scope="props">
                <span>{{props.value}} / Page</span>
              </template>
            </a-pagination>
          </div>
        </div>
      </div>
    </div>
    <a-drawer
      :title="layoutDetail.layout_name"
      width="70%"
      :closable="false"
      :visible="visible"
      @close="() => visible = false"
    >
      <Static :detail="layoutDetail" />
      <div
        :style="{
          position: 'absolute',
          bottom: 0,
          width: '100%',
          borderTop: '1px solid #e8e8e8',
          padding: '10px 16px',
          textAlign: 'right',
          left: 0,
          background: '#fff',
          borderRadius: '0 0 4px 4px',
        }"
        class="d-none"
      >
        <a-button style="marginRight: 8px" @click="onClose">
          Cancel
        </a-button>
        <a-button type="primary" @click="onClose">
          Submit
        </a-button>
      </div>
    </a-drawer>
  </div>
</template>

<script>
import Breadcrumb from "@/components/breadcrumb";
import { mapGetters } from "vuex";
import { get } from "lodash";
import numeral from "numeral";
import Static from "./static";
export default {
  name: "LayoutList",
  components: {
    Breadcrumb,
    Static
  },
  created() {
    if (get(this.$route, 'query.project_id', 0)) {
      this.project_id = parseInt(get(this.$route, 'query.project_id', 0));
    }
    this.$store.dispatch('style/getStylesAPI');
    this.$store.dispatch('project/getProjectsAPI', { params: { limit: 1000 } });
    this.handleLoadData();
  },
  computed: {
    ...mapGetters({
      layoutsList: 'layout/getLayouts',
      projectsList: 'project/getProjects',
      styleList: 'style/getStyles'
    })
  },
  watch: { 
    projectsList: function (val) {
      if (val) {
        this.projectsListSearch = val;
      }
    }
  },
  data() {
    return {
      pageSizeOptions: ["12", "24", "36", "48", "60"],
      visible: false,
      layoutDetail: {},
      numeral,
      breadcrumb_name : "Projects",
      project_id : 0,
      projectsListSearch: [],
      columns: [{
        title: 'ID',
        dataIndex: 'int_id',
        width: '8%',
        align: 'center',
        scopedSlots: { customRender: 'link_detail_id' },
      },
      {
        title: 'Name',
        dataIndex: 'layout_name',
        width: '30%',
        scopedSlots: { customRender: 'link_detail_name' },
        // sorter: true
      },
      {
        title: 'Area',
        dataIndex: 'area',
        align: 'center'
      },
      {
        title: 'Estimated Price',
        dataIndex: 'metadata.price.estimated',
        scopedSlots: { customRender: 'price' },
      },
      {
        title: 'Bed Room Qty',
        dataIndex: 'metadata.bedroom_num',
        align: 'center'
      },
      {
        title: 'Image',
        dataIndex: 'layout_image_url',
        scopedSlots: { customRender: 'avatar' },
      },
      {
        title: 'Style',
        dataIndex: 'metadata.style.name'
      },
      // {
      //   title: 'Ảnh thiết kế',
      //   dataIndex: 'layout_image_floor_plan_url',
      //   scopedSlots: { customRender: 'avatar' },
      // },
      //  {
      //   title: 'Ảnh',
      //   dataIndex: 'layout_image_url',
      //   scopedSlots: { customRender: 'avatar' },
      //   align: 'center'
      // },
      {
        title: 'Status',
        dataIndex: 'status',
        scopedSlots: { customRender: 'status_badge' },
        // filters: [
        //   { text: 'PUBLISHED', value: 'published' },
        //   { text: 'UNPUBLISHED', value: 'unpublished' },
        // ]
      }, 
      { 
        title: 'Action', 
        dataIndex: '',
        scopedSlots: { customRender: 'action' },
        width: '10%',
        align: 'center'
      }],
      loading: false,
      filters: {
        name: ''
      },
      sort: '',
      pagination: {
        pageSize: 24,
        total: 0,
        current: 1
      }
    };
  },
  methods: {
    onShowSizeChange(current, pageSize) {
      this.pagination.page = current;
      this.pagination.pageSize = pageSize;
      this.handleLoadData();
    },
    onChangePaginator(page) {
      this.pagination.current = page;
      this.handleLoadData();
    },
    onClose() {
      this.visible = false;
    },
    handleLoadData() {
      this.loading = true;
      let params = {
        page: this.pagination.current,
        project_id: this.project_id
      };
      if (this.sort) {
        params.sort = this.sort;
      }
      if (this.filters.name) {
        params.name = this.filters.name;
      }
      if (this.filters.estimated_price) {
        params.estimated_price = this.filters.estimated_price;
      }
      if (this.filters.style_id) {
        params.style_id = this.filters.style_id;
      }
      if (this.filters.layout_id) {
        params.layout_id = this.filters.layout_id;
      }
      if (this.project_id) {
        params.project_id = this.project_id;
      }
      this.$store.dispatch('layout/getLayoutsAPI', {
        params: params
      }).then(response => {
        this.loading = false;
        if (response.code === 0) {
          this.pagination.current = get(response, 'data.meta.page', 1);
          this.pagination.total = get(response, 'data.meta.total', 0);
        }
      });
    },
    handleTableChange(pagination, filters, sorter) {
      console.log('handleTableChange', pagination, filters, sorter);
      this.pagination.current = pagination.current;
      if (sorter.field) {
        this.sort = `${sorter.field}:${sorter.order === "descend" ? 'desc' : 'asc'}`
      } else {
        this.sort = '';
      }
      this.handleLoadData();
    },
    handleMenuClick(action, data) {
      console.log('handleMenuClick', action, data);
      switch (action) {
        case 'edit':
          this.$router.push({ name: 'LayoutDetail', params: { project_id: this.project_id , id: data.int_id }});
          break;
        case 'delete':
          this.$confirm({
            title: `Do you want to delete these item?`,
            content: `${data.layout_name}`,
            onOk: () => {
              return this.$store.dispatch('layout/deleteLayoutAPI', data.int_id).then(response => {
                if (response.code === 0) {
                  this.$message.success(response.message);
                  this.handleLoadData();
                } else {
                  this.$message.error(response.message);
                }
              });
            },
            onCancel() {},
          });
          
          break;
        case 'room':
          this.$router.push({ name: 'RoomList', params: { project_id: this.project_id , layout_id: data.int_id } });
          break;
        
        case 'clone':
          this.cloneLayout(data.int_id);
          break;

        case 'detail':
          this.layoutDetail = data;
          this.visible = true;
          break;

        default:
          break;
      }
    },
    cloneLayout(id){
       this.$store.dispatch('layout/cloneLayoutAPI', {layout_id : id}).then(response => {    
        if (response.code === 0) {
          this.handleLoadData();
        }
      });
    },
    handleFilter() {
      console.log('handleMenuClick', this.filters);
      this.handleLoadData();
    },
    handleReset() {
      console.log('handleReset', this.filters);
      this.filters = {
        name: ''
      };
      this.handleLoadData();
    },
    onMenuClick(data) {
      if (data.key.indexOf('project') >= 0) {
        const pId = data.key.split('project-')[1];
        if (pId) {
          this.project_id = pId;
          this.handleLoadData();
          window.scrollTo(0,0)
        }
      }
    },
    handleChange(value) {
      if (this.project_id !== value) {
        this.project_id = value;
        this.projectsListSearch = this.projectsList;
        this.$router.push({ name: 'LayoutList', query: { project_id: this.project_id }});
        this.handleLoadData();
      }
    },
    handleSearch(value) {
      if (value) {
        this.projectsListSearch = this.projectsList.filter(item => item.project_name.toLowerCase().indexOf(value.toLowerCase()) >= 0);
      } else {
        this.projectsListSearch = this.projectsList;
      }
    },
  }
};
</script>
