<template>
<div class="row">
  <div class="col-sm-12">
    <a-upload accept=".zip, application/zip" :fileList="fileList" :remove="handleRemove" :beforeUpload="beforeUpload">
      <a-button> <a-icon type="upload" /> Select File </a-button>
    </a-upload>
    <a-button
      type="primary"
      @click="handleUpload"
      :disabled="fileList.length === 0"
      :loading="uploading"
      style="margin-top: 16px"
    >
      {{ uploading ? 'Uploading' : 'Start Upload' }}
    </a-button>
  </div>
</div>
</template>
<script>
  import apiConsultantCMSService from "@/store/services/apiConsultantCMSService";
  export default {
    props: ['layout_id', 'handleChange', 'isNew'],
    data() {
      return {
        fileList: [],
        uploading: false,
      };
    },
    methods: {
      handleRemove(file) {
        const index = this.fileList.indexOf(file);
        const newFileList = this.fileList.slice();
        newFileList.splice(index, 1);
        this.fileList = newFileList;
      },
      beforeUpload(file) {
        // this.fileList = [...this.fileList, file];
        this.fileList = [file];
        return false;
      },
      handleUpload() {
        const { fileList } = this;
        if (!fileList.length) {
          return;
        }
        const formData = new FormData();
        fileList.forEach(file => {
          formData.append('zfile', file);
        });
        this.uploading = true;

        // You can use any AJAX library you like
        if (this.isNew) {
          apiConsultantCMSService.postLayoutUploadPanoramaFull(formData)
          .then(responseData => {
            console.log(response);
            const response = responseData.response;
            this.uploading = false;
            if (response.code === 0) {
              this.fileList = [];
              this.$message.success(response.message);
              if(typeof this.handleChange === 'function') {
                this.handleChange(response.data);
              }
            } else {
              this.$message.error(response.message);
            }
          }).catch(error => {
            this.uploading = false;
            this.$message.error(error);
          });
        } else {
          formData.append('layout_id', this.layout_id);
          apiConsultantCMSService.putLayoutUploadPanoramaFull(formData)
          .then(responseData => {
            console.log(response);
            const response = responseData.response;
            this.uploading = false;
            if (response.code === 0) {
              this.fileList = [];
              this.$message.success(response.message);
              if(typeof this.handleChange === 'function') {
                this.handleChange(response.data);
              }
            } else {
              this.$message.error(response.message);
            }
          }).catch(error => {
            this.uploading = false;
            this.$message.error(error);
          });
        }
      },
    },
  };
</script>
