<template>
  <div class="container-fluid p-0">
    <div id="panorama"></div>
    <div class="block-list-comment" :class="{'showed': isShowListComment}">
      <div class="block-icon">
        <div class="icon" @click="isShowListComment = !isShowListComment"></div>
        <div class="block-notify" v-if="isShowBlockNotify" @click="isShowBlockNotify = !isShowBlockNotify">Click to view your comments history</div>
      </div>
      <div class="block-comment">
        <div class="title">09 Comments</div>
        <div class="comment-list">
          <div class="comment-item">
            <div class="media">
              <img src="@/assets/photo.jpg" class="mr-3 img-responsive img-circle" alt="" />
              <div class="media-body">
                <h5 class="mt-0 mb-1">me <span class="date ml-1">July 17, 6:38 pm</span> <strong class="float-right">#1</strong></h5>
                In the event, "in places like Iraq and Jordan, leaders of the new sovereign states were brought in from the outside, tailored to suit colonial interests and commitments

                <div class="media mt-3">
                  <img src="@/assets/photo.jpg" class="mr-3 img-responsive img-circle" alt="">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">Fitin Team <span class="date ml-1">July 17, 6:38 pm</span></h5>
                    In the event, "in places like Iraq and Jordan, leaders of the new sovereign states were brought in from the outside, tailored to suit colonial interests and commitments
                  </div>
                </div>
                <div class="media mt-3">
                  <img src="@/assets/photo.jpg" class="mr-3 img-responsive img-circle" alt="" />
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">me <span class="date ml-1">July 17, 6:38 pm</span></h5>
                    In the event, "in places like Iraq and Jordan, leaders of the new sovereign states were brought in from the outside, tailored to suit colonial interests and commitments
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-btn-comment">
      <div class="icon" @click="isShowMouseNotify = !isShowMouseNotify"></div>
      <div class="block-notify" v-if="isShowBlockNotify" @click="isShowBlockNotify = !isShowBlockNotify">Click to leave feedback or to ask for technical details</div>
    </div>
    <div v-if="isShowMouseNotify" class="block-wrapper-comment" @mousemove="updateNotifyCommentNew" @click="handleCommentNew">
      <div class="mouse-notify" :style="{left: notifyCommentNew.x +'px', top: notifyCommentNew.y +'px'}">Click to leave a new comment</div>
    </div>
    <div class="block-form" v-if="idCurrentComment">
      <div class="block-wrapper-form" @click="idCurrentComment = ''"></div>
      <div class="comment-new form-comment" v-if="listCurrentComment.length === 0" :style="{left: posCurrentComment.x +'px', top: posCurrentComment.y +'px'}">
        <div class="form-group">
          <label for="new-comment">Leave a comment</label>
          <textarea v-model="newCommentTextarea" class="form-control" id="new-comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" @click="handleAddComment">SEND</button>
      </div>
      <div class="comment-list" v-else :style="{left: posCurrentComment.x +'px', top: posCurrentComment.y +'px'}">
        <div class="comments">
          <div class="media">
            <div class="control">
              <div class="edit" @click="() => handleAsk('edit')"></div>
              <div class="delete" @click="() => handleAsk('delete')"></div>
            </div>
            <img src="@/assets/photo.jpg" class="mr-3 img-responsive img-circle" alt="" />
            <div class="media-body">
              <h5 class="mt-0 mb-1">me <span class="date ml-1">July 17, 6:38 pm</span></h5>
              In the event, "in places like Iraq and Jordan, leaders of the new sovereign states were brought in from the outside, tailored to suit colonial interests and commitments
            </div>
          </div>
          <div class="media">
            <img src="@/assets/photo.jpg" class="mr-3 img-responsive img-circle" alt="">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Fitin Team <span class="date ml-1">July 17, 6:38 pm</span></h5>
              In the event, "in places like Iraq and Jordan, leaders of the new sovereign states were brought in from the outside, tailored to suit colonial interests and commitments
            </div>
          </div>
        </div>
        <div class="form-add">
          <div class="form-comment" v-if="isShowAddCommentNew">
            <div class="form-group">
              <textarea v-model="newCommentTextarea" class="form-control" id="new-comment" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" @click="handleAddComment">SEND</button>
          </div>
          <button v-else class="btn-add" @click="isShowAddCommentNew = !isShowAddCommentNew">Add a new comment</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import numeral from "numeral";
import { API_PRODUCT_BY_OBJECTKEY } from '@/config';
import { size } from "lodash";
export default {
  name: 'PanoramaComment',
  components: {
  },
  created() {
    this.data = {
      default: { firstScene: "view0", sceneFadeDuration: 2000, autoLoad: true },
      scenes: {
        view0: {
          title: "Living Room",
          hfov: 100,
          pitch: -10,
          yaw: 175,
          type: "equirectangular",
          panorama:
            "https://cdn.fitin.dev/panorama/images/2020/2-17/5e4a6d5c2867845d13c31f8e/1.jpg",
          hotSpots: [
            {
              pitch: 0,
              yaw: 358,
              type: "scene",
              text: "Kitchen Room",
              sceneId: "view1",
              targetYaw: "same",
              targetPitch: "same",
              clickHandlerArgs: "",
              clickHandlerFunc: ""
            },
            {
              pitch: 0,
              yaw: 318,
              type: "scene",
              text: "Main Bed Room",
              sceneId: "view2",
              targetYaw: "same",
              targetPitch: "same",
              clickHandlerArgs: "",
              clickHandlerFunc: ""
            },
            {
              pitch: 0,
              yaw: 264,
              type: "scene",
              text: "Bed Room",
              sceneId: "view3",
              targetYaw: "same",
              targetPitch: "same",
              clickHandlerArgs: "",
              clickHandlerFunc: ""
            },
            {
              pitch: -21,
              yaw: 323,
              type: "info",
              text: "jysk_cabinet_skals",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_cabinet_skals",
              clickHandlerFunc: "getPressedItemID"
            },
            {
              pitch: -12,
              yaw: 352,
              type: "info",
              text: "jysk_chair_jonstrup",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_chair_jonstrup",
              clickHandlerFunc: "getPressedItemID"
            }
          ]
        },
        view1: {
          title: "Kitchen Room",
          hfov: 100,
          pitch: -10,
          yaw: 175,
          type: "equirectangular",
          panorama:
            "https://cdn.fitin.dev/panorama/images/2020/2-17/5e4a6d5c2867845d13c31f8e/2.jpg",
          hotSpots: [
            {
              pitch: 0,
              yaw: 178,
              type: "scene",
              text: "Living Room",
              sceneId: "view0",
              targetYaw: "same",
              targetPitch: "same",
              clickHandlerArgs: "",
              clickHandlerFunc: ""
            },
            {
              pitch: 0,
              yaw: 291,
              type: "scene",
              text: "Main Bed Room",
              sceneId: "view2",
              targetYaw: "same",
              targetPitch: "same",
              clickHandlerArgs: "",
              clickHandlerFunc: ""
            },
            {
              pitch: 0,
              yaw: 228,
              type: "scene",
              text: "Bed Room",
              sceneId: "view3",
              targetYaw: "same",
              targetPitch: "same",
              clickHandlerArgs: "",
              clickHandlerFunc: ""
            },
            {
              pitch: -27,
              yaw: 227,
              type: "info",
              text: "jysk_cabinet_skals",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_cabinet_skals",
              clickHandlerFunc: "getPressedItemID"
            },
            {
              pitch: -40,
              yaw: 333,
              type: "info",
              text: "jysk_chair_jonstrup",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_chair_jonstrup",
              clickHandlerFunc: "getPressedItemID"
            },
            {
              pitch: -4,
              yaw: 270,
              type: "info",
              text: "jysk_wardrobe_sattrup",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_wardrobe_sattrup",
              clickHandlerFunc: "getPressedItemID"
            }
          ]
        },
        view2: {
          title: "Main Bed Room",
          hfov: 100,
          pitch: -10,
          yaw: 175,
          type: "equirectangular",
          panorama:
            "https://cdn.fitin.dev/panorama/images/2020/2-17/5e4a6d5c2867845d13c31f8e/3.jpg",
          hotSpots: [
            {
              pitch: 0,
              yaw: 138,
              type: "scene",
              text: "Living Room",
              sceneId: "view0",
              targetYaw: "same",
              targetPitch: "same",
              clickHandlerArgs: "",
              clickHandlerFunc: ""
            },
            {
              pitch: 0,
              yaw: 111,
              type: "scene",
              text: "Kitchen Room",
              sceneId: "view1",
              targetYaw: "same",
              targetPitch: "same",
              clickHandlerArgs: "",
              clickHandlerFunc: ""
            },
            {
              pitch: 0,
              yaw: 177,
              type: "scene",
              text: "Bed Room",
              sceneId: "view3",
              targetYaw: "same",
              targetPitch: "same",
              clickHandlerArgs: "",
              clickHandlerFunc: ""
            },
            {
              pitch: -63,
              yaw: 375,
              type: "info",
              text: "jysk_bed_vedde",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_bed_vedde",
              clickHandlerFunc: "getPressedItemID"
            },
            {
              pitch: -35,
              yaw: 319,
              type: "info",
              text: "jysk_bedside_cabinet_vedde",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_bedside_cabinet_vedde",
              clickHandlerFunc: "getPressedItemID"
            },
            {
              pitch: -13,
              yaw: 428,
              type: "info",
              text: "jysk_wardrobe_vedde",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_wardrobe_vedde",
              clickHandlerFunc: "getPressedItemID"
            }
          ]
        },
        view3: {
          title: "Bed Room",
          hfov: 100,
          pitch: -10,
          yaw: 175,
          type: "equirectangular",
          panorama:
            "https://cdn.fitin.dev/panorama/images/2020/2-17/5e4a6d5c2867845d13c31f8e/4.jpg",
          hotSpots: [
            {
              pitch: 0,
              yaw: 444,
              type: "scene",
              text: "Living Room",
              sceneId: "view0",
              targetYaw: "same",
              targetPitch: "same",
              clickHandlerArgs: "",
              clickHandlerFunc: ""
            },
            {
              pitch: 0,
              yaw: 408,
              type: "scene",
              text: "Kitchen Room",
              sceneId: "view1",
              targetYaw: "same",
              targetPitch: "same",
              clickHandlerArgs: "",
              clickHandlerFunc: ""
            },
            {
              pitch: 0,
              yaw: 357,
              type: "scene",
              text: "Main Bed Room",
              sceneId: "view2",
              targetYaw: "same",
              targetPitch: "same",
              clickHandlerArgs: "",
              clickHandlerFunc: ""
            },
            {
              pitch: -36,
              yaw: 119,
              type: "info",
              text: "jysk_bedside_cabinet_limfjorden",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_bedside_cabinet_limfjorden",
              clickHandlerFunc: "getPressedItemID"
            },
            {
              pitch: -34,
              yaw: 222,
              type: "info",
              text: "jysk_bench_vandsted",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_bench_vandsted",
              clickHandlerFunc: "getPressedItemID"
            },
            {
              pitch: -26,
              yaw: 326,
              type: "info",
              text: "jysk_chair_dima",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_chair_dima",
              clickHandlerFunc: "getPressedItemID"
            },
            {
              pitch: -26,
              yaw: 318,
              type: "info",
              text: "jysk_desk_stege",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_desk_stege",
              clickHandlerFunc: "getPressedItemID"
            },
            {
              pitch: -8,
              yaw: 336,
              type: "info",
              text: "jysk_shelf_stavanger",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_shelf_stavanger",
              clickHandlerFunc: "getPressedItemID"
            },
            {
              pitch: -38,
              yaw: 280,
              type: "info",
              text: "jysk_tvcabinet_aarup",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_tvcabinet_aarup",
              clickHandlerFunc: "getPressedItemID"
            },
            {
              pitch: -5,
              yaw: 342,
              type: "info",
              text: "jysk_wardrobe_sattrup",
              sceneId: "",
              targetYaw: "",
              targetPitch: "",
              clickHandlerArgs: "jysk_wardrobe_sattrup",
              clickHandlerFunc: "getPressedItemID"
            }
          ]
        }
      }
    };
  },
  mounted() {
    this.initPanorama();
  },
  data() {
    return {
      viewer: null,
      data: {},
      configDefault: {
        sceneFadeDuration: 300,
        autoLoad: true,
        showZoomCtrl: false,
        showFullscreenCtrl: true
      },
      isShowListComment: false,
      notifyCommentNew: {
        x: 0,
        y: 0
      },
      isShowBlockNotify: true,
      isShowMouseNotify: false,
      commentHotSpot: {},
      idCurrentComment: '',
      newCommentTextarea: '',
      listCurrentComment: [],
      posCurrentComment: {
        x: 0,
        y: 0,
      },
      isShowAddCommentNew: false
    };
  },
  methods: {
    getPressedItemID(objectId) {
      if (objectId) {
        this.$axios
          .get(API_PRODUCT_BY_OBJECTKEY + objectId, {
            headers: {
              "Access-Key": "9OAMUJHalcpJcR0CohSNTXDirqA"
            }
          })
          .then(function(response) {
            // handle success : ngay update : 16-10-2019
            const data = ((response.data || {}).data || [])[0] || {};
            const YOUR_DYNAMIC_HTML = `<div class="block-info">
                            <div class="block-info-img"><img src="${
                              data.image
                            }" alt="" /></div>
                            <div class="block-info-text">
                                <div class="txt"><span>${data.name}</span></div>
                                <div class="txt"><span>${numeral(
                                  data.price
                                ).format("0,0")} VND</span></div>
                            </div>
                        </div>`;
            const wrapper = document.createElement("div");
            wrapper.innerHTML = YOUR_DYNAMIC_HTML;
            this.$swal({
              content: wrapper
            });
          })
          .catch(function(error) {
            // handle error
            // eslint-disable-next-line no-console
            console.error(error.response);
            if ((error.response || {}).status === 401) {
              // eslint-disable-next-line no-console
              console.log("unauthorized, logging out ...");
            }
            if ((error.response || {}).status === 400) {
              // eslint-disable-next-line no-console
              console.log(error.response.data.message);
              this.$swal("", error.response.data.message, "error");
            }
          });
      }
    },
    initPanorama() {
      if (this.data && this.data.default) {
        const scenes = this.data.scenes;
        Object.values(scenes).forEach(item => {
          item.hotSpots = item.hotSpots.map(m => {
            m.clickHandlerFunc = () => {
              this.getPressedItemID(m.clickHandlerArgs);
            };
            return m;
          });
        });
        if (!window.pannellum) {
          return;
        }
        this.viewer = window.pannellum.viewer("panorama", {
          default: Object.assign({}, this.data.default, this.configDefault),
          scenes
        });
        // const _this = this;
        this.viewer.on("load", function() {
          // full screen
          // setTimeout(function() {
          //   try {
          //     document
          //       .getElementsByClassName("pnlm-fullscreen-toggle-button")[0]
          //       .click();
          //   } catch (error) {
          //     // eslint-disable-next-line no-console
          //     console.log(error);
          //   }
          // }, 1500);

          // add hotspot
          // _this.viewer.on("mousedown", function(event) {
          //   const inputText = "example hotspot text 2";
          //   const t = _this.viewer.mouseEventToCoords(event);
          //   const currentPitch = t[0];
          //   const currentYaw = t[1];
          //   _this.viewer.addHotSpot({
          //     pitch: currentPitch,
          //     yaw: currentYaw,
          //     type: "info",
          //     text: inputText
          //   });
          // });
        });
      }
    },
    updateNotifyCommentNew(event) {
      this.notifyCommentNew = {
        x: event.clientX + 10,
        y: event.clientY - 10
      };
    },
    handleCommentNew(event) {
      this.isShowMouseNotify = false;
      const inputText = size(this.commentHotSpot) + 1;
      const t = this.viewer.mouseEventToCoords(event);
      const currentPitch = t[0];
      const currentYaw = t[1];
      const idComment = "comment-" + inputText;
      const dataHotSpot = {
        pitch: currentPitch,
        yaw: currentYaw,
        type: "info",
        text: inputText,
        cssClass: "comment-hotspot",
        clickHandlerArgs: idComment,
        clickHandlerFunc: (event) => this.handleClickComment(event, idComment)
      };
      this.commentHotSpot[idComment] = {
        dataHotSpot,
        comments: []
      };
      
      this.viewer.addHotSpot(dataHotSpot);
      setTimeout(() => {
        this.handleClickComment(event, idComment);  
      }, 100);
    },
    handleClickComment(event, idComment) {
      // eslint-disable-next-line no-unused-vars
      const { comments=[] } = this.commentHotSpot[idComment] || {};
      this.idCurrentComment = idComment;
      // this.listCurrentComment = comments;
      this.listCurrentComment = [{
        id: '',
        avatar: '',
        auth: '',
        comment: '',
        createdAt: ''
      }];
      this.newCommentTextarea = '';
      this.posCurrentComment = {
        x: event.clientX + 20,
        y: event.clientY - 20
      };
      this.isShowAddCommentNew = false;
    },
    handleAddComment() {
      console.log('handleAddComment', this.newCommentTextarea);
    },
    handleAsk(action) {
      console.log('handleAsk', action);
      switch (action) {
        case 'delete':
          this.$swal({
            icon: 'question',
            title: 'Delete...',
            text: 'are you sure do it?',
            showCloseButton: true,
            showCancelButton: true,
            focusConfirm: false,
          }).then((result) => {
            console.log('delete ask: ', result);
          })
          break;
        default:
          break;
      }
    }
  }
};
</script>
