<template>
<div>
  <Breadcrumb :data="[{
      name: 'Project',
      nameRouter: 'ProjectList'
    }, {
      name: newProject ? 'New project' : projectDetail.project_name ,
      
    }]" />
  <div class="content-heading d-flex justify-content-between mb-3 mt-3">
    <span></span>
    <div class>
      <a-button icon="close" class="ml-3" @click="handleCancel">
        Cancel
      </a-button>
      <a-button icon="delete" v-if="newProject === false" type="danger" class="ml-3" @click="handleDelete">
        Delete
      </a-button>
    </div>
  </div>

  <div class="content bg-white p-5 mb-3">
    
    <a-form-model ref="ruleForm" :rules="rules" :model="form" :label-col="labelCol" :wrapper-col="wrapperCol">
      
      <a-form-model-item label="Name" prop="name" ref="name">
        <a-input v-model="form.project_name" @blur="() => {$refs.name.onFieldBlur()}" />
      </a-form-model-item>

      <a-form-model-item label="Slug" prop="slug" ref="slug">
        <a-input v-model="form.slug" @blur="() => {$refs.slug.onFieldBlur()}"/>
      </a-form-model-item>

      <a-form-model-item label="Status" prop="status" ref="status">
        <a-select v-model="form.status" placeholder="please select status">
          <a-select-option value="unpublished">
            Unpublished
          </a-select-option>
          <a-select-option value="published">
            Published
          </a-select-option>
        </a-select>
      </a-form-model-item>

      <a-form-model-item label="Description">
        <a-input v-model="form.desc" type="textarea" />
      </a-form-model-item>

      <a-form-model-item label="Meta data title">
        <a-input v-model="form.metadata.title" />
      </a-form-model-item>
      <a-form-model-item label="Meta data desc">
        <a-input v-model="form.metadata.title_desc" type="textarea" />
      </a-form-model-item>

      <a-form-model-item label="Attributes">
        <!-- <a-form-model-item>
          <a-button type="dashed" style="width: 30%" @click="addAttributes">
            <a-icon type="plus" /> Add attribute
          </a-button>
        </a-form-model-item> -->
        <!-- <table-attribute :dataSource="form.attributes" :handleUpdate="dataNew => form.attributes = dataNew"></table-attribute> -->
        
        <generate-attribute :dataSource="form.attributes" :handleUpdate="dataNew => form.attributes = dataNew"></generate-attribute>
      </a-form-model-item>

      <!-- <a-form-model-item label="Template">
        <p :style="{ marginBottom: '20px' }">
          <a-checkbox :checked="form.is_template" @change="(e) => {form.is_template = !form.is_template}">
            Is Layout Template
          </a-checkbox>
        </p>
      </a-form-model-item> -->

      <location-form :location="form.location" :handleUpdate="data => form.location = data" />

      <a-form-model-item label="Image">
        <upload-simple :handleChange="(data) => {form.image_path = data.path; form.project_image_url = data.url}" :dataSource="form.project_image_url"  :type="`image`"/>
      </a-form-model-item>

      <a-form-model-item label="Sort">
        <a-input v-model="form.sort" />
      </a-form-model-item>

      <a-form-model-item label="landing Page Url">
        <a-input v-model="form.landing_url" />
      </a-form-model-item>
      
      <a-form-model-item :wrapper-col="{ span: 14, offset: 4 }">
        <a-button type="primary" @click="handleSubmit" icon="save">
          {{newProject ? 'Create' : 'Save'}}
        </a-button>
        <a-button class="ml-3" icon="close" @click="handleCancel">
          Cancel
        </a-button>
      </a-form-model-item>
    </a-form-model>
  </div>
</div>
</template>
<script>
import Breadcrumb from "@/components/breadcrumb";
import LocationForm from "@/components/common/locationForm";
import GenerateAttribute from "@/components/project/generateAttribute";
import UploadSimple from "@/components/common/uploadSimple";
import { get } from "lodash";
import { mapGetters } from "vuex";
export default {
  components: {
    LocationForm,
    GenerateAttribute,
    Breadcrumb,
    UploadSimple,
  },
  data() {
    return {
      labelCol: { span: 4 },
      wrapperCol: { span: 14 },
      form: {
        "project_name": "",
        "slug": "",
        "status": "",
        "is_renovation" : false,
        "desc": "",
        "sort" : 0,
        "landing_url": "",
        "attributes": [],
        "location": {
          city_id: null,
          district_id: null,
          lat: null,
          long: null,
          address: '',
        },
        "metadata": {
          "title" : null,
          "title_desc": null
        },
        "image_path": null,
        "project_image_url": null,
        "_id": null,
        "int_id" : null
      },
      rules: {
        project_name: [
          { required: true, message: 'Please input Name', trigger: 'blur' },
          { min: 3, message: 'Length must be more than 3', trigger: 'blur' }
        ],
       
        status: [
          { required: true, message: 'Please select Status', trigger: 'change' }
        ],
      },
      newProject: false,
    };
  },
  computed: {
    ...mapGetters({
      projectDetail: 'project/getDetail'
    })
  },
  watch: { 
    projectDetail: function(newVal) { // watch it
      this.form = newVal;
      if(get(this.$route, 'params.id', 0) !=  newVal.int_id) {
        this.$router.push({params: {id: newVal.int_id}});
      }
      this.newProject = newVal.int_id === 0;
    }
  },
  created() {
    if(get(this.$route, 'params.id', 0) > 0 ) {
      this.$store.dispatch('project/detailProjectAPI', get(this.$route, 'params.id', 0))
    } else {
      this.newProject = true;
    }
  },
  methods: {
    handleDelete() {
      this.$store.dispatch('project/deleteProjectAPI', get(this.$route, 'params.id', 0)).then(response => {
        if (response.code === 0) {
          this.$message.success(response.message);
        } else {
          this.$message.error(response.message);
        }
      });
    },
    addAttributes() {
      this.form.attributes.push({
        "id": Math.random(),
        "label": "",
        "key": "",
        "desc": "",
        "type": "int",
        "value": 1
      })
    },
    handleSubmit() {
      this.$refs.ruleForm.validate(valid => {
        if (valid) {
          console.log(this.form);
          if (this.newProject) {
            this.$store.dispatch('project/postProjectAPI', this.form).then(response => {
              console.log(response);
              if (response.code === 0) {
                this.$message.success(response.message);
                this.handleCancel();
              } else {
                this.$message.error(response.message);
              }
            })
          } else {
            this.$store.dispatch('project/putProjectAPI', this.form).then(response => {
              this.handleCancel();
              console.log(response);
            })
          }
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    handleCancel() {
      this.$router.push({name: 'ProjectList'});
    },
  },
  destroyed() {
    this.$store.commit('project/SET_DETAIL', {});
  }
};
</script>
