<template>
  <div>
    <div class="content-heading d-flex justify-content-between mb-3">
      <Breadcrumb :data="[{
        name: 'Project Renovation'
      }]" />
      <div class="mt-3">
        <router-link :to="{ name: 'LayoutRenovationList' }" class="mr-3">
          <a-button>Layout  All</a-button>
        </router-link>
        <router-link :to="{ name: 'ProjectRenovationDetail', params: {id: 0} }">
          <a-button>Add New</a-button>
        </router-link>
      </div>
    </div>

    <div class="content bg-white p-3 mb-3">
      <a-collapse :bordered="false">
        <a-collapse-panel header="Search" key="1">
          <a-form class="ant-advanced-search-form">
            <a-row :gutter="24">
              <a-col :span="6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label col-form-label-sm">Name</label>
                  <div class="col-md-8">
                    <a-input v-model="filters.name" />
                  </div>
                </div>
              </a-col>
              <a-col :span="6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label col-form-label-sm">Project ID</label>
                  <div class="col-md-8">
                    <a-input v-model="filters.project_id" />
                  </div>
                </div>
              </a-col>
              <a-col :span="6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label col-form-label-sm">Layout ID</label>
                  <div class="col-md-8">
                    <a-input v-model="filters.layout_id" />
                  </div>
                </div>
              </a-col>
              <a-col :span="6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label col-form-label-sm">Status</label>
                  <div class="col-md-8">
                    <a-select v-model="filters.status">
                      <a-select-option value="unpublished">UNPUBLISHED</a-select-option>
                      <a-select-option value="published">PUBLISHED</a-select-option>
                    </a-select>
                  </div>
                </div>
              </a-col>
            </a-row>

            <a-row>
              <a-col :span="24" :style="{ textAlign: 'right' }">
                <a-button type="primary" html-type="submit" icon="search" @click="handleFilter">Tìm kiếm</a-button>

                <a-button :style="{ marginLeft: '8px' }" @click="handleReset" icon="undo">Làm mới</a-button>
              </a-col>
            </a-row>
          </a-form>
        </a-collapse-panel>
      </a-collapse>
    </div>

    <div class="content bg-white p-3">
      <div class="mb-3 text-right">
        <a-pagination
          :showTotal="total => `Total ${total} row`"
          :pageSizeOptions="pageSizeOptions"
          :total="pagination.total"
          showSizeChanger
          showQuickJumper
          :showTitl="`abc`"
          :pageSize="pagination.pageSize"
          v-model="pagination.current"
          @showSizeChange="onShowSizeChange"
          @change="onChangePaginator"
        >
          <template slot="buildOptionText" slot-scope="props">
            <span>{{props.value}} / Page</span>
          </template>
        </a-pagination>
      </div>
      <a-table
        :columns="columns"
        :dataSource="projectsList"
        :rowKey="record => record.int_id"
        :pagination="false"
        :loading="loading"
        @change="handleTableChange"
        bordered
      >
        <template slot="project_name" slot-scope="props, row">
          <a class="text-primary" @click="handleMenuClick('detail', row)">{{ row.project_name }}</a>
        </template>
        <template slot="project_id" slot-scope="props, row">
          <a @click="handleMenuClick('detail', row)">{{ row.int_id }}</a>
        </template>
        <template slot="project_image_url" slot-scope="project_image_url">
          <img v-if="project_image_url" :src="project_image_url" class="img-fluid max-width-100" />
        </template>
        <template slot="status_badge" slot-scope="status">
          <b-badge class="text-uppercase" :variant="status === 'published' ? 'success' : 'warning' " >{{status}}</b-badge>
        </template>
        <template slot="action" slot-scope="props">
          <div class="text-center">
            <a-tooltip placement="topLeft" title="Layout">
              <a-button size="small" class="mr-2" @click="handleMenuClick('layout', props)">
                <a-icon type="eye" />
              </a-button>
            </a-tooltip>
            <a-tooltip placement="topLeft" title="Edit">
              <a-button size="small" type="primary" class="mr-2" @click="handleMenuClick('edit', props)">
                <a-icon type="edit" />
              </a-button>
            </a-tooltip>
            <a-tooltip placement="topLeft" title="Delete">
              <a-button size="small" type="danger" @click="handleMenuClick('delete', props)">
                <a-icon type="delete" />
              </a-button>
            </a-tooltip>
          </div>
        </template>
        <!-- <template slot="expandedRowRender" slot-scope="record" >
          <Static :detail="record" />
        </template> -->
      </a-table>
      <div class="mt-3 text-right">
        <a-pagination
          :showTotal="total => `Total ${total} row`"
          :pageSizeOptions="pageSizeOptions"
          :total="pagination.total"
          showSizeChanger
          showQuickJumper
          :showTitl="`abc`"
          :pageSize="pagination.pageSize"
          v-model="pagination.current"
          @showSizeChange="onShowSizeChange"
          @change="onChangePaginator"
        >
          <template slot="buildOptionText" slot-scope="props">
            <span>{{props.value}} / Page</span>
          </template>
        </a-pagination>
      </div>
    </div>
    <a-drawer
      :title="projectDetai.project_name"
      width="520"
      :closable="false"
      :visible="visible"
      @close="onClose"
    >
      <Static :detail="projectDetai" />
      <div
        :style="{
          position: 'absolute',
          bottom: 0,
          width: '100%',
          borderTop: '1px solid #e8e8e8',
          padding: '10px 16px',
          textAlign: 'right',
          left: 0,
          background: '#fff',
          borderRadius: '0 0 4px 4px',
        }"
        class="d-none"
      >
        <a-button style="marginRight: 8px" @click="onClose">
          Cancel
        </a-button>
        <a-button type="primary" @click="onClose">
          Submit
        </a-button>
      </div>
    </a-drawer>
  </div>
</template>

<script>
import Breadcrumb from "@/components/breadcrumb";
import { mapGetters } from "vuex";
import { get, each, concat } from "lodash";
import Static from "./static";
export default {
  name: "ProjectList",
  components: {
    Breadcrumb,
    Static
  },
  created() {
    this.handleLoadData();
    this.$store.dispatch('location/getLocationsAPI');
  },
  computed: {
    ...mapGetters({
      projectsList: 'project/getProjects',
      cityList: 'location/getLocations'
    })
  },
  watch: {
    'cityList': function (list) {
      let districtList = [];
      if (list.length) {
        each(list, item => {
          if (item.districts.length) {
            districtList = concat(districtList, item.districts);
          }
        })
      }
      if (districtList.length) {
        this.districtList = districtList;
      }
    }
  },
  data() {
    return {
      pageSizeOptions: ["12", "24", "36", "48", "60"],
      visible: false,
      projectDetai: {},
      districtList: [],
      columns: [{
        title: 'ID',
        dataIndex: 'int_id',
        width: '10%',
        sorter: true,
        scopedSlots: { customRender: 'project_id' },
      },
      {
        title: 'Sort',
        dataIndex: 'sort',
        sorter: true
      },
      {
        title: 'Project Name',
        dataIndex: 'project_name',
        sorter: true,
        scopedSlots: { customRender: 'project_name' },
      },
      {
        title: 'Total Layout',
        dataIndex: 'total_layout',
      },
      {
        title: 'City',
        dataIndex: 'location.city_name'
      },
      {
        title: 'District',
        dataIndex: 'location.district_name'
      },
      {
        title: 'Image',
        dataIndex: 'project_image_url',
        scopedSlots: { customRender: 'project_image_url' },
      }, 
      {
        title: 'Status',
        dataIndex: 'status',
        scopedSlots: { customRender: 'status_badge' },
        // filters: [
        //   { text: 'PUBLISHED', value: 'published' },
        //   { text: 'UNPUBLISHED', value: 'unpublished' },
        // ]
      }, 
      { 
        title: 'Action', 
        dataIndex: '',
        align: 'center',
        scopedSlots: { customRender: 'action' } 
      }],
      loading: false,
      filters: {
        name: '',
        city_id: '',
        district_id: '',
        project_id: '',
        status: ''
      },
      sort: '',
      pagination: {
        pageSize: 24,
        total: 0,
        current: 1
      }
    };
  },
  methods: {
    onShowSizeChange(current, pageSize) {
      this.pagination.page = current;
      this.pagination.pageSize = pageSize;
      this.handleLoadData();
    },
    onChangePaginator(page) {
      this.pagination.current = page;
      this.handleLoadData();
    },
    onClose() {
      this.visible = false;
    },
    handleLoadData() {
      this.loading = true;
      const params = {
        page: this.pagination.current,
        limit: this.pagination.pageSize
      };
      if (this.sort) {
        params.sort = this.sort;
      }
      if (this.filters.name) {
        params.name = this.filters.name;
      }
      if (this.filters.city_id) {
        params.city_id = this.filters.city_id;
      }
      if (this.filters.district_id) {
        params.district_id = this.filters.district_id;
      }
      if (this.filters.status) {
        params.status = this.filters.status;
      }
      if (this.filters.project_id) {
        params.project_id = this.filters.project_id;
      }
      this.$store.dispatch('project/getProjectsRenovationAPI', { params }).then(response => {
        this.loading = false;
        if (response.code === 0) {
          this.pagination.current = get(response, 'data.meta.page', 1);
          this.pagination.total = get(response, 'data.meta.total', 0);
        }
      });
    },
    handleTableChange(pagination, filters, sorter) {
      console.log('handleTableChange', pagination, filters, sorter);
      this.pagination.current = pagination.current;
      if (sorter.field) {
        this.sort = `${sorter.field}:${sorter.order === "descend" ? 'desc' : 'asc'}`
      } else {
        this.sort = '';
      }
      if (filters.status.length) {
        this.filters.status = get(filters, 'status,0', '');
      }
      this.handleLoadData();
    },
    handleMenuClick(action, data) {
      console.log('handleMenuClick', action, data);
      switch (action) {
        case 'detail':
          this.projectDetai = data;
          this.visible = true;
          break;
        case 'edit':
          this.$router.push({ name: 'ProjectRenovationDetail', params: { id: data.int_id } });
          break;
        case 'delete':
          this.$confirm({
            title: `Do you want to delete these item?`,
            content: `${data.project_name}`,
            onOk: () => {
              return this.$store.dispatch('project/deleteProjectAPI', data.int_id).then(response => {
                if (response.code === 0) {
                  this.$message.success(response.message);
                  this.handleLoadData();
                } else {
                  this.$message.error(response.message);
                }
              });
            },
            onCancel() {},
          });
          
          break;
        case 'layout':
          this.$router.push({ name: 'LayoutRenovationList', query: { project_id: data.int_id } });
          break;
        default:
          break;
      }
    },
    handleFilter() {
      if (this.filters.layout_id) {
        this.$router.push({ name: 'LayoutRenovationDetail', params: { id: this.filters.layout_id } });
      } 
      this.handleLoadData();
    },
    handleReset() {
      console.log('handleReset', this.filters);
      this.filters = {
        name: '',
        city_id: '',
        district_id: '',
        project_id: '',
        status: ''
      };
      this.handleLoadData();
    }
  }
};
</script>
