<template>
  <a-descriptions bordered :column='1'>
    <a-descriptions-item label="ID" >
      {{ detail.int_id }}
    </a-descriptions-item>
    <a-descriptions-item label="Slug" >
      {{ detail.slug }}
    </a-descriptions-item>
    <a-descriptions-item label="Total Layout" >
      {{ detail.total_layout }}
    </a-descriptions-item>
    <a-descriptions-item label="Status">
      <!-- <a-badge :status="detail.status === 'published' ? 'success' : 'warning'" :text="detail.status" /> -->
      <b-badge class="text-uppercase" :variant="detail.status === 'published' ? 'success' : 'warning' " >{{detail.status}}</b-badge>
    </a-descriptions-item>
    <a-descriptions-item label="Landing">
      {{ detail.landing_url }}
    </a-descriptions-item>
    <a-descriptions-item label="Sort">
      {{ detail.sort }}
    </a-descriptions-item>
    <a-descriptions-item label="Description">
      {{ detail.desc }}
    </a-descriptions-item>
    <a-descriptions-item label="Meta data title">
      {{ detail.metadata.title }}
    </a-descriptions-item>
    <a-descriptions-item label="Meta data description">
      {{ detail.metadata.desc }}
    </a-descriptions-item>
    <a-descriptions-item label="Attributes">
      <table v-if="(detail.attribute||[]).length">
        <thead>
          <tr>
            <td>Label</td>
            <td>Type</td>
            <td>Value</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, i) in detail.attribute" :key="'item-' + i">
            <td>{{ item.label }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.value }}</td>
          </tr>
        </tbody>
      </table>
    </a-descriptions-item>
    <a-descriptions-item label="Location">
      <a-descriptions bordered :column='1'>
        <a-descriptions-item label="Address">
          {{ detail.location.address }}
        </a-descriptions-item>
        <a-descriptions-item label="Lat">
          {{ detail.location.lat }}
        </a-descriptions-item>
        <a-descriptions-item label="Long">
          {{ detail.location.long }}
        </a-descriptions-item>
        <a-descriptions-item label="City">
          {{ detail.location.city_name }}
        </a-descriptions-item>
        <a-descriptions-item label="District">
          {{ detail.location.district_name }}
        </a-descriptions-item>
      </a-descriptions>
    </a-descriptions-item>
    <a-descriptions-item label="Updated">
      {{ detail.updated_at }}
    </a-descriptions-item>
    <a-descriptions-item label="Created">
      {{ detail.created_at }}
    </a-descriptions-item>
    <a-descriptions-item label="_id">
      {{ detail._id }}
    </a-descriptions-item>
  </a-descriptions>
</template>

<script>
export default {
  props: ['detail']
}
</script>