<template>
  <a-breadcrumb style="margin: 16px 0">
    <a-breadcrumb-item>
      <router-link :to="{name: 'Dashboard'}">
        <a-icon type="home" />
      </router-link>
    </a-breadcrumb-item>
    <a-breadcrumb-item v-for="(item, i) in data" :key="'breadcrumb-item-' + i">
      <router-link :to="{name: item.nameRouter}" v-if="item.nameRouter">
        <span>{{item.name}}</span>
      </router-link>
      <span v-else>{{item.name}}</span>
    </a-breadcrumb-item>
  </a-breadcrumb>
</template>

<script>
import { URLHome } from "@/config";
export default {
  props: ["data"],
  created() {
  },
  data() {
    return {
      URLHome
    }
  }
}
</script>