<template>
  <a-card :loading="isLoading" :title="title" :bordered="false" style="height: 100%">
    <a-list>
      <a-list-item :key="index" v-for="(item, index) in activities">
        <a-list-item-meta>
          <a-avatar slot="avatar" :src="item.user.avatar" />
          <div slot="title">
            <span>{{ item.user.name }}</span>&nbsp;
            do&nbsp;
            <span>{{ item.project.action }}</span>&nbsp;
            <a href="#">{{ item.project.name }}</a>&nbsp;
          </div>
          <div slot="description">{{ item.time }}</div>
        </a-list-item-meta>
      </a-list-item>
    </a-list>
  </a-card>
</template>
<script>
export default {
  props: ['isLoading', 'title', 'activities']
};
</script>
