<template>
  <a-card :loading="isLoading" :title="title" :bordered="false" style="height: 100%">
    <a-list item-layout="vertical" size="large" :pagination="pagination" :data-source="listData">
      <!-- <div slot="footer"><b>ant design vue</b> footer part</div> -->
      <a-list-item slot="renderItem" key="item.title" slot-scope="item">
        <template v-for="{ type, text } in item.actions" slot="actions">
          <span :key="type">
            <a-icon :type="type" style="margin-right: 8px" />
            {{ text }}
          </span>
        </template>
        <img
          slot="extra"
          alt="logo"
          :src="item.avatar"
        />
        <a-list-item-meta :description="item.description">
          <a slot="title" :href="item.href">{{ item.title }}</a>
          <!-- <a-avatar slot="avatar" :src="item.avatar" /> -->
        </a-list-item-meta>
        <!-- {{ item.content }} -->
      </a-list-item>
    </a-list>
  </a-card>
</template>
<script>
const listData = [];
for (let i = 0; i < 21; i++) {
  listData.push({
    href: '/',
    title: `Layout ${i}`,
    avatar: 'https://picsum.photos/100',
    description:
      "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
    content:
      "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.",
    actions: [
        { type: 'download', text: parseInt((i+1) * Math.random() * 100) },
        { type: 'like-o', text: parseInt((i+1) * Math.random() * 100) },
        { type: 'message', text: parseInt((i+1) * Math.random() * 100) },
        { type: 'eye', text: parseInt((i+1) * Math.random() * 100) },
      ]
  });
}
export default {
  props: ['isLoading', 'title'],
  data() {
    return {
      listData,
      pagination: {
        onChange: page => {
          console.log(page);
        },
        pageSize: 3,
      },
    }
  }
}
</script>