<template>
  <a-card :loading="isLoading" :title="title" :bordered="false" style="height: 100%">
    <BarChart :chartData="chartData" />
  </a-card>
</template>
<script>
import BarChart from '@/components/common/BarChart';
export default {
  props: ['isLoading', 'title', 'chartData'],
  components: {
    BarChart
  }
}
</script>