<template>
  <a-card :loading="isLoading" :title="title" :bordered="false" style="height: 100%">
    <LineChart :chartData="chartData" />
  </a-card>
</template>
<script>
import LineChart from '@/components/common/LineChart';
export default {
  props: ['isLoading', 'title', 'chartData'],
  components: {
    LineChart
  }
}
</script>