<template>
  <a-card class="bg-black text-white" :bordered="false" style="height: 100%" :loading="isLoading">
    <h5 class="text-white mb-0"><a-icon :type="icon"></a-icon> {{ title }}</h5>
    <h2 class="text-white text-right mb-0">{{ number }}</h2>
  </a-card>
</template>
<script>
export default {
  props: ['isLoading', 'icon', 'title', 'number']
};
</script>
