<template>
  <a-descriptions bordered :column='1'>
    <a-descriptions-item label="Status">
      <b-badge class="text-uppercase" :variant="detail.status === 'published' ? 'success' : 'warning' " >{{detail.status}}</b-badge>
    </a-descriptions-item>
    <a-descriptions-item label="ID" >
      {{ detail.int_id }}
    </a-descriptions-item>
    <a-descriptions-item label="Slug" >
      {{ detail.slug }}
    </a-descriptions-item>
    <a-descriptions-item label="Key Name" >
      {{ detail.layout_key_name }}
    </a-descriptions-item>
    <a-descriptions-item label="Area" >
      {{ detail.area }}
    </a-descriptions-item>
    <a-descriptions-item label="Estimated Price" >
      {{ numeral(get(detail,'metadata.price.estimated', 0)).format('0,0') }}
    </a-descriptions-item>
    <a-descriptions-item label="Bed Room Qty" >
      {{ get(detail, 'metadata.bedroom_num', 0) }}
    </a-descriptions-item>
    <a-descriptions-item label="Project" >
      {{ detail.project_name }}
    </a-descriptions-item>
    <a-descriptions-item label="Address" >
      code: {{ get(detail,'metadata.address.apartment_code', 'null') }} <br> 
      block: {{ get(detail,'metadata.address.block', 'null') }}
    </a-descriptions-item>
    <a-descriptions-item label="Style" >
      {{ get(detail, 'metadata.style.name') }}
    </a-descriptions-item>
    <a-descriptions-item label="Panorama" v-if="detail.panorama_url">
      <a :href="detail.panorama_url" target="_blank">
        <a-icon type="eye" /> Panorama
      </a>
    </a-descriptions-item>
    <a-descriptions-item label="Cart URL">
      <a :href="detail.cart_url" target="_blank">
        <a-icon type="shopping-cart" /> Cart
      </a>
    </a-descriptions-item>
    <a-descriptions-item label="Quotation URL">
      <a :href="detail.quotation_url" target="_blank">
        <a-icon type="notification" /> Quotation
      </a>
    </a-descriptions-item>
    <a-descriptions-item label="Cart Detail"  v-if="get(detail,'extensions.cart_json.items' ,[]).length">
      <table class="table">
        <thead>
          <tr>
            <td>Name</td>
            <td>SKU</td>
            <td>Qty</td>
            <td>Group</td>
            <td>Cost</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, i) in get(detail,'extensions.cart_json.items' ,[])" :key="'cart-' + i">
            <td>{{ item.name }}</td>
            <td>{{ item.sku }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.group_name }}</td>
            <td>{{ numeral(item.cost).format('0,0') }}</td>
          </tr>
        </tbody>
      </table>
    </a-descriptions-item>
    <a-descriptions-item label="Rooms"  v-if="(detail.metadata.rooms||[]).length">
      <table class="table">
        <thead>
          <tr>
            <td>Name</td>
            <td>Area</td>
            <td>Level</td>
            <td>Qty</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, i) in detail.metadata.rooms" :key="'room-' + i">
            <td>{{ item.name }}</td>
            <td>{{ item.area }}</td>
            <td>{{ item.level }}</td>
            <td>{{ item.qty }}</td>
          </tr>
        </tbody>
      </table>
    </a-descriptions-item>
    <a-descriptions-item label="Image">
      <img class="img-thumbnail" :src="detail.layout_image_url" :alt="detail.layout_name">
    </a-descriptions-item>
    <a-descriptions-item label="Image floor plan">
      <img class="img-thumbnail" :src="detail.image_floor_plan_path" :alt="detail.layout_name">
    </a-descriptions-item>
    <a-descriptions-item label="Image floor plan">
      <img class="img-thumbnail" :src="detail.layout_image_floor_plan_url" :alt="detail.layout_name">
    </a-descriptions-item>
    <a-descriptions-item label="Gallery" v-if="(detail.gallery||[]).length">
      <template v-for="(item, i) in detail.gallery">
        <img class="img-thumbnail mr-1 mb-1" :key="'img-' + i" :src="item.thumb_url" :alt="detail.layout_name">
      </template>
    </a-descriptions-item>

    
    <a-descriptions-item label="Updated">
      {{ detail.updated_at }}
    </a-descriptions-item>
    <a-descriptions-item label="Created">
      {{ detail.created_at }}
    </a-descriptions-item>
    <a-descriptions-item label="_id">
      {{ detail._id }}
    </a-descriptions-item>
  </a-descriptions>
</template>

<script>
import { get } from "lodash";
import numeral from "numeral";
export default {
  props: ['detail'],
  data() {
    return {
      get, 
      numeral
    }
  }
}
</script>