<template>
  <div class="clearfix">
    <a-upload
      listType="picture-card"
      :fileList="fileList"
      :multiple="true"
      @preview="handlePreview"
      :remove="handleRemove"
      :beforeUpload="beforeUpload"
    >
      <div>
        <a-icon type="plus" />
        <div class="ant-upload-text">Select</div>
      </div>
    </a-upload>
    <a-button
      type="primary"
      @click="handleUpload"
      :disabled="fileUp.length === 0"
      :loading="uploading"
    >
      {{ uploading ? 'Uploading' : 'Start Upload' }}
    </a-button>
    <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel">
      <img alt="example" style="width: 100%" :src="previewImage" />
    </a-modal>
  </div>
</template>
<script>
  function getBase64(file) {
    return new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => resolve(reader.result);
      reader.onerror = error => reject(error);
    });
  }
  function getFilename(url)
  {
    if (url)
    {
        var m = url.toString().match(/.*\/(.+?)\./);
        if (m && m.length > 1)
        {
          return m[1];
        }
    }
    return "";
  }
  import apiConsultantCMSService from "@/store/services/apiConsultantCMSService";
  export default {
    props: ['handleChange', 'dataSource', 'type', 'layout_id'],
    data() {
      return {
        fileList: [],
        fileUp: [],
        uploading: false,
        previewVisible: false,
        previewImage: '',
      };
    },
    watch: {
      'dataSource': function (newVal) {
        if (newVal.length) {
          this.fileList = newVal.map((item) => {
            return {
                uid: Math.random(1, 100000),   // unique identifier, negative is recommend, to prevent interference with internal generated id
                status: 'done', // options：uploading, done, error, removed
                name: getFilename(item.image_url),
                url: item.image_url,
                _id: item._id,
              }
          });
        }
      }
    },
    created() {
      if ((this.dataSource||[]).length) {
        this.fileList = this.dataSource.map((item) => {
          return {
              uid: Math.random(1, 100000),   // unique identifier, negative is recommend, to prevent interference with internal generated id
              status: 'done', // options：uploading, done, error, removed
              name: getFilename(item.image_url),
              url: item.image_url,
              _id: item._id,
            }
        });
      }
    },
    methods: {
      handleCancel() {
        this.previewVisible = false;
      },
      async handlePreview(file) {
        if (!file.url && !file.preview) {
          file.preview = await getBase64(file.originFileObj);
        }
        this.previewImage = file.url || file.preview;
        this.previewVisible = true;
      },
      handleRemove(file) {
        console.log('handleRemove', file);
        const index = this.fileList.indexOf(file);
        const newFileList = this.fileList.slice();
        newFileList.splice(index, 1);
        this.fileList = newFileList;

        const index2 = this.fileUp.indexOf(file);
        const fileUp = this.fileUp.slice();
        fileUp.splice(index2, 1);
        this.fileUp = fileUp;

        // You can use any AJAX library you like
        apiConsultantCMSService.deleteLayoutRenovationGallery({
          layout_id: this.layout_id,
          gallery_id: file._id
        })
        .then(responseData => {
          const response = responseData.response;
          console.log(response);
          if (response.code === 0) {
            this.fileUp = [];
            this.$message.success(response.message);
            if(typeof this.handleChange === 'function') {
              this.handleChange();
            }
          } else {
            this.$message.error(response.message);
          }
        }).catch(error => {
          this.uploading = false;
          this.$message.error(error);
        });
      },
      beforeUpload(file) {
        const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png';
        if (!isJpgOrPng) {
          this.$message.error('You can only upload JPG file!');
        }
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error('Image must smaller than 2MB!');
        }
        this.fileUp = [...this.fileUp, file];
        this.fileList.push(file);
        return false;
        // return isJpgOrPng && isLt2M;
      },
      async handleUpload() {
        const { fileUp } = this;
        // eslint-disable-next-line no-unreachable
        if (!fileUp.length) {
          return;
        }
        let file_type = this.type || 'file';
        // eslint-disable-next-line no-unreachable
        this.uploading = true;

        for (let i = 0; i < fileUp.length; i++) {
          const e = fileUp[i];
          const formData = new FormData();
          formData.append('layout_id', this.layout_id);
          formData.append(file_type, e);
          try {
            const responseData = await apiConsultantCMSService.postLayoutRenovationUploadGallery(formData);
            const response = responseData.response;
            this.$message.success(response.message);
          } catch (error) {
            this.$message.success(error.message);
          }
        }

        this.uploading = false;
        this.fileUp = [];
        if(typeof this.handleChange === 'function') {
          this.handleChange();
        }

        // You can use any AJAX library you like
        // apiConsultantCMSService.postLayoutRenovationUploadGallery(formData)
        // .then(responseData => {
        //   const response = responseData.response;
        //   console.log(response);
        //   this.uploading = false;
        //   if (response.code === 0) {
        //     this.fileUp = [];
        //     this.$message.success(response.message);
        //     if(typeof this.handleChange === 'function') {
        //       this.handleChange();
        //     }
        //   } else {
        //     this.$message.error(response.message);
        //   }
        // }).catch(error => {
        //   this.uploading = false;
        //   this.$message.error(error);
        // });
      },
    },
  };
</script>
