<template>
  <a-form-model-item label="Location">
    <div class="row">
      <div class="col-12">
        <a-input @change="onUpdate" v-model="form.address" placeholder="Address" />
      </div>
      <div class="col-6">
        <a-input @change="onUpdate" v-model="form.lat" placeholder="lat" />
      </div>
      <div class="col-6">
        <a-input @change="onUpdate" v-model="form.long" placeholder="long" />
      </div>
      <div class="col-6">
        <!-- <a-input v-model="location.city_id" placeholder="city_id" /> -->
        <a-select @change="onChangeCity" v-model="form.city_id">
          <a-select-option
            v-for="item of cityList"
            :key="'city_' + item.city_id"
            :value="item.city_id"
          >{{item.city_name}}</a-select-option>
        </a-select>
      </div>
      <div class="col-6">
        <!-- <a-input v-model="location.district_id" placeholder="district_id" /> -->
        <a-select @change="onChangeDistrict" v-model="form.district_id">
          <a-select-option
            v-for="item of districtList"
            :key="'district_' + item.district_id"
            :value="item.district_id"
          >{{item.district_name}}</a-select-option>
        </a-select>
      </div>
    </div>
  </a-form-model-item>
</template>
<script>
import { mapGetters } from "vuex";
import { each, set, get } from "lodash";
export default {
  props: ['location', 'handleUpdata'],
  async created() {
    this.form = this.location;
    await this.$store.dispatch('location/getLocationsAPI');
    if (get(this.location,'city_id', 0)) {
      this.onChangeCity(get(this.location,'city_id', 0));
    }
  },
  computed: {
    ...mapGetters({
      cityList: 'location/getLocations'
    })
  },
  data() {
    return {
      form: {
        address: '',
        lat: '',
        long: '',
        city_id: '',
        city_name: '',
        district_id: '',        
        district_name: '',        
      },
      districtList: []
    }
  },
  watch: { 
    location: function(newVal) { // watch it
      this.form = newVal;
      if (get(newVal,'city_id', 0)) {
        this.onChangeCity(get(newVal,'city_id', 0));
      }
    }
  },
  methods: {
    onChangeCity(city_id) {
      each(this.cityList, item => {
        if (item.city_id === city_id) {
          this.districtList = item.districts;
          set(this.form, 'city_name', item.city_name);
          return;
        }
      })
    },
    onChangeDistrict(district_id) {
      each(this.districtList, item => {
        if (item.district_id === district_id) {
          set(this.form, 'district_name', item.district_name);
          this.onUpdate();
          return;
        }
      })
    },
    onUpdate() {
      if (typeof this.handleUpdata === 'function') {
        this.handleUpdata(this.form);
      }
    }
  }
}
</script>