<template>
  <div class="clearfix">
    <div  v-if="dataSource">
      <img :src="dataSource" class="img-fluid max-width-100" />
    </div>
    <a-upload :fileList="fileList" :remove="handleRemove" :beforeUpload="beforeUpload" @change="handleUpload">
      <a-button> <a-icon type="upload" /> Select File </a-button>
    </a-upload>
  </div>
</template>
<script>
  import apiConsultantCMSService from "@/store/services/apiConsultantCMSService";
  export default {
    props: ['handleChange', 'dataSource', 'type'],
    data() {
      return {
        fileList: [],
        uploading: false,
      };
    },
    methods: {
      handleRemove(file) {
        const index = this.fileList.indexOf(file);
        const newFileList = this.fileList.slice();
        newFileList.splice(index, 1);
        this.fileList = newFileList;
      },
      beforeUpload(file) {
        // this.fileList = [...this.fileList, file];
        this.fileList = [file];
        return false;
      },
      handleUpload() {
        const { fileList } = this;
        if (!fileList.length) {
          return;
        }
        let file_type = this.type || 'file';
        const formData = new FormData();
        fileList.forEach(file => {
          // formData.append('files[]', file);
          formData.append(file_type, file);
        });
        this.uploading = true;

        // You can use any AJAX library you like
        apiConsultantCMSService.postUpload(formData)
        .then(responseData => {
          console.log(response);
          const response = responseData.response;
          this.uploading = false;
          if (response.code === 0) {
            this.fileList = [];
            this.$message.success(response.message);
            if(typeof this.handleChange === 'function') {
              this.handleChange(response.data);
            }
          } else {
            this.$message.error(response.message);
          }
        }).catch(error => {
          this.uploading = false;
          this.$message.error(error);
        });
      },
    },
  };
</script>
