<template>
  <div>
    <div class="content-heading d-flex justify-content-between mb-3">
      <Breadcrumb :data="[{
        name: 'Dashboard'
      }]" />
    </div>
    <div class="content p-3 mb-3">
      <div class="row">
        <div class="col-3">
          <Static :isLoading="isLoading" icon="codepen" title="Project" :number="1000" ></Static>
        </div>
        <div class="col-3">
          <Static :isLoading="isLoading" icon="code-sandbox" title="Project Renovation" :number="1000" ></Static>
        </div>
        <div class="col-3">
          <Static :isLoading="isLoading" icon="layout" title="Layout" :number="1000" ></Static>
        </div>
        <div class="col-3">
          <Static :isLoading="isLoading" icon="code-sandbox" title="Layout Renovation" :number="1000" ></Static>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-4">
          <Activities title="Activities" :isLoading="isLoading" :activities="activities"></Activities>
        </div>
        <div class="col-8">
          <Barchart title="Total Project & Project Renovation" :isLoading="isLoading" :chartData="chartDataProject"/>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-8">
          <ActivitiesLayout title="Activities user in layout" :isLoading="isLoading"/>
        </div>
        <div class="col-4">
          <LineChart title="Total Project & Project Renovation" :isLoading="isLoading" :chartData="chartDataProject"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumb from "@/components/breadcrumb";
import Widget from "@/components/widget";

export default {
  name: "Home",
  components: {
    Breadcrumb,
    Static: Widget.Static,
    Activities: Widget.Activities,
    Barchart: Widget.Barchart,
    LineChart: Widget.LineChart,
    ActivitiesLayout: Widget.ActivitiesLayout,
  },
  created() {
  },
  mounted() {
  },
  data() {
    return {
      isLoading: false,
      activities: [
        {
          id: 1,
          time: "2018-08-23 14:47:00",
          user: {
            avatar: 'https://picsum.photos/200',
            name: 'user 1'
          },
          project: {
            action: 'created',
            name: 'project name 1'
          }
        },{
          id: 2,
          time: "2018-08-23 15:47:00",
          user: {
            avatar: 'https://picsum.photos/200',
            name: 'user 2'
          },
          project: {
            action: 'deleted',
            name: 'project name 1'
          }
        }
      ],
      chartDataProject: {
        labels: [
          "11/2019",
          "12/2019",
          "01/2020",
          "02/2020",
          "03/2020",
          "04/2020"
        ],
        datasets: [
          {
            label: "Project",
            backgroundColor: "#f87979",
            data: [20, 4, 5, 5, 7, 2],
            categoryPercentage: 0.6,
            barPercentage: 0.6
          },
          {
            label: "Project Renovation",
            backgroundColor: "#6633ff",
            data: [60, 20, 10, 15, 4, 7],
            categoryPercentage: 0.6,
            barPercentage: 0.6
          }
        ]
      },
    };
  },
  methods: {
  }
};
</script>
