<template>
<div class="container-fluid">
  
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <a-form
      :form="form"
      class="login-form col-3"
      @submit="handleSubmit"
      :disabled="disabledForm"
    >
      <div class="col-12 mb-3">
        <img src="../../assets/logo.png" alt="logo" class="img-fluid" style="max-width: 250px;margin: 0 auto;display: block;">
      </div>
      <a-alert v-if="formError" :message="formError" type="error" showIcon class="mb-3" />
      <a-form-item>
        <a-input
          v-decorator="[
            'email',
            { rules: [{ required: true, message: 'Please input your email!' }] },
          ]"
          placeholder="Email"
        >
          <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-input
          v-decorator="[
            'password',
            { rules: [{ required: true, message: 'Please input your Password!' }] },
          ]"
          type="password"
          placeholder="Password"
        >
          <a-icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)" />
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-checkbox
          v-decorator="[
            'remember',
            {
              valuePropName: 'checked',
              initialValue: true,
            },
          ]"
        >
          Remember me
        </a-checkbox>
        <!-- <a class="login-form-forgot" href="">
          Forgot password
        </a> -->
        <a-button type="primary" html-type="submit" class="login-form-button">
          Log in
        </a-button>
        <!-- Or
        <a href="">
          register now!
        </a> -->
      </a-form-item>
    </a-form>
  </div>
</div>
</template>

<script>
export default {
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: 'normal_login' });
  },
  data() {
    return {
      formError: '',
      disabledForm: false
    }
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values);
          this.disabledForm = true;
          this.$store.dispatch('postLogin', values).then(response => {
            this.disabledForm = false;
            if (response.code === 0) {
              this.$router.push({ name: 'Dashboard' }, () => {});
              this.$message.success(response.message);
            } else {
              this.formError = response.message;
            }
          })
        } else {
          this.formError = err;
        }
      });
    },
  },
};
</script>
<style>
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
</style>