@import "variables";

@font-face {
  font-family: '#{$fitin-icon-family}';
  src:  url('#{$fitin-font-path}/#{$fitin-icon-family}.eot?g1ib4h');
  src:  url('#{$fitin-font-path}/#{$fitin-icon-family}.eot?g1ib4h#iefix') format('embedded-opentype'),
    url('#{$fitin-font-path}/#{$fitin-icon-family}.ttf?g1ib4h') format('truetype'),
    url('#{$fitin-font-path}/#{$fitin-icon-family}.woff?g1ib4h') format('woff'),
    url('#{$fitin-font-path}/#{$fitin-icon-family}.svg?g1ib4h##{$fitin-icon-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icofit {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$fitin-icon-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fit-2d {
  &:before {
    content: $fit-2d; 
  }
}
.fit-3d {
  &:before {
    content: $fit-3d; 
  }
}
.fit-ar {
  &:before {
    content: $fit-ar; 
  }
}
.fit-error {
  &:before {
    content: $fit-error;     
    color: #ea1515;
  }
}
.fit-cart {
  &:before {
    content: $fit-cart; 
  }
}
.fit-vr {
  &:before {
    content: $fit-vr; 
  }
}
.fit-user {
  &:before {
    content: $fit-user; 
  }
}
.fit-check {
  &:before {
    content: $fit-check; 
  }
}
.fit-share-o {
  &:before {
    content: $fit-share-o; 
  }
}
.fit-camera .path1 {
  &:before {
    content: $fit-camera-path1;  
    color: rgb(32, 32, 32);
  }
}
.fit-camera .path2 {
  &:before {
    content: $fit-camera-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.fit-camera .path3 {
  &:before {
    content: $fit-camera-path3;  
    margin-left: -1em;  
    color: rgb(32, 32, 32);
  }
}
.fit-arrow-single {
  &:before {
    content: $fit-arrow-single; 
  }
}
.fit-trash {
  &:before {
    content: $fit-trash; 
  }
}
.fit-heart-o {
  &:before {
    content: $fit-heart-o; 
  }
}
.fit-heart-active {
  &:before {
    content: $fit-heart-active;     
    color: #ea1515;
  }
}
.fit-search {
  &:before {
    content: $fit-search; 
  }
}
.fit-window {
  &:before {
    content: $fit-window; 
  }
}
.fit-lamp {
  &:before {
    content: $fit-lamp; 
  }
}
.fit-chair {
  &:before {
    content: $fit-chair; 
  }
}
.fit-wishlist {
  &:before {
    content: $fit-wishlist; 
  }
}
.fit-arrow-down {
  &:before {
    content: $fit-arrow-down; 
  }
}
.fit-plus {
  &:before {
    content: $fit-plus; 
  }
}
.fit-minus {
  &:before {
    content: $fit-minus; 
  }
}
.fit-close {
  &:before {
    content: $fit-close; 
  }
}
.fit-facebook {
  &:before {
    content: $fit-facebook; 
  }
}
.fit-instagram {
  &:before {
    content: $fit-instagram; 
  }
}
.fit-linkin {
  &:before {
    content: $fit-linkin; 
  }
}
.fit-youtube {
  &:before {
    content: $fit-youtube; 
  }
}
.fit-camera-o {
  &:before {
    content: $fit-camera-o; 
  }
}
.fit-bundle {
  &:before {
    content: $fit-bundle; 
  }
}
.fit-instruction {
  &:before {
    content: $fit-instruction; 
  }
}
.fit-vehicle {
  &:before {
    content: $fit-vehicle; 
  }
}
.fit-build-mode {
  &:before {
    content: $fit-build-mode; 
  }
}
.fit-center-object {
  &:before {
    content: $fit-center-object; 
  }
}
.fit-design {
  &:before {
    content: $fit-design; 
  }
}
.fit-door {
  &:before {
    content: $fit-door; 
  }
}
.fit-edit {
  &:before {
    content: $fit-edit; 
  }
}
.fit-notification .path1 {
  &:before {
    content: $fit-notification-path1;  
    color: rgb(115, 119, 128);  
    opacity: 0.359;
  }
}
.fit-notification .path2 {
  &:before {
    content: $fit-notification-path2;  
    margin-left: -1em;  
    color: rgb(7, 4, 4);
  }
}
.fit-time .path1 {
  &:before {
    content: $fit-time-path1;  
    color: rgb(115, 119, 128);
  }
}
.fit-time .path2 {
  &:before {
    content: $fit-time-path2;  
    margin-left: -1em;  
    color: rgb(73, 71, 71);
  }
}
.fit-drawing {
  &:before {
    content: $fit-drawing; 
  }
}
.fit-couch {
  &:before {
    content: $fit-couch; 
  }
}
.fit-payment {
  &:before {
    content: $fit-payment; 
  }
}
.fit-change {
  &:before {
    content: $fit-change; 
  }
}
.fit-zoom-out {
  &:before {
    content: $fit-zoom-out; 
  }
}
.fit-zoom-in {
  &:before {
    content: $fit-zoom-in; 
  }
}
.fit-home {
  &:before {
    content: $fit-home; 
  }
}
.fit-category {
  &:before {
    content: $fit-category; 
  }
}
.fit-filter {
  &:before {
    content: $fit-filter; 
  }
}
.fit-cart-2 {
  &:before {
    content: $fit-cart-2; 
  }
}
.fit-card {
  margin-left: -3px;
  &:before {
    content: $fit-card; 
  }
}
.fit-profile {
  &:before {
    content: $fit-profile; 
  }
}
.fit-search-2 {
  &:before {
    content: $fit-search-2; 
  }
}
.fit-more {
  &:before {
    content: $fit-more; 
  }
}
.fit-receipt .path1 {
  &:before {
    content: $fit-receipt-path1;  
    color: rgb(7, 4, 4);
  }
}
.fit-receipt .path2 {
  &:before {
    content: $fit-receipt-path2;  
    margin-left: -1em;  
    color: rgb(32, 0, 0);
  }
}
.fit-location {
  &:before {
    content: $fit-location; 
  }
}
.fit-arrow-back {
  &:before {
    content: $fit-arrow-back; 
  }
}
.fit-box {
  &:before {
    content: $fit-box; 
  }
}
.fit-alarm {
  &:before {
    content: $fit-alarm; 
  }
}
.fit-project {
  &:before {
    content: $fit-project; 
  }
}
.fit-link-url {
  &:before {
    content: $fit-link-url; 
  }
}
.fit-360 {
  &:before {
    content: $fit-360; 
  }
}
.fit-facebook-o {
  &:before {
    content: $fit-facebook-o; 
  }
}
.fit-instagram-o {
  &:before {
    content: $fit-instagram-o; 
  }
}
.fit-pinterest-o {
  &:before {
    content: $fit-pinterest-o; 
  }
}