.ant-menu-dark, .ant-menu-dark .ant-menu-sub,
.ant-layout-header {
  background: #000;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: rgb(240, 242, 245);
  color: #000;
}
.ant-menu-dark .ant-menu-item-selected > a, .ant-menu-dark .ant-menu-item-selected > a:hover{
  color: #000;
}
.ant-form-item label {
  margin-bottom: 0;
}