body {
  margin: 0;
}
.max-width-100 {
  max-width: 100px;
}
.anticon {
  vertical-align: 0;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.8) !important;
}



#panorama {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100vh;
}
.block-info-text {
  font-size: 18px;
}
.block-info-text span {
  font-size: 20px;
  font-weight: bold;
}
.swal-overlay {
  background: hsla(0, 0%, 100%, 0.9);
}
.swal-modal {
  font: 400 13.3333px Arial;
  font-family: Helvetica\Neue, Helvetica, Arial, sans-serif;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
}
.swal-overlay--show-modal .swal-modal {
  border-radius: 0;
}
.swal-button {
  border-radius: 0;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  width: 160px;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px;
  cursor: pointer;
  background: none;
  color: #000;
  font-size: 14px;
  text-align: center;
  transition: all 0.3s;
}
.swal-button:hover {
  box-shadow: 3px 2px 11px #ccc;
  background: transparent;
}
.swal-button:not([disabled]):hover {
  background: transparent;
}
div.pnlm-tooltip span {
  max-width: inherit;
}
.block-info-img img {
  width: 100%;
}
#controls {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-bottom: 3px;
}
.ctrl {
  padding: 8px 5px;
  width: 30px;
  text-align: center;
  background: rgba(200, 200, 200, 0.8);
  display: inline-block;
  cursor: pointer;
}
.ctrl:hover {
  background: rgba(200, 200, 200, 1);
}
.pnlm-panorama-info {
  left: 0;
}

// block-list-comment
.block-list-comment {
  position: fixed;
  z-index: 2;
  top: 0;
  right: -504px;
  transition: right .3s;
  &.showed {
    right: 0px;
    .block-icon {
      .icon {
        background-image: url(../assets/icon-comment/info-white@2x.png); 
      }
    }
  }
  .block-icon {
    width: 50px;
    height: 50px;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 504px;
    top: 0;
    .icon {
      width: 30px;
      height: 30px;
      background: url(../assets/icon-comment/info-white-menu@2x.png) no-repeat center center;
      background-size: contain;
    }
  }
  .block-comment {
    width: 504px;
    height: 100vh;
    background-color: #ffffff;
    .title {
      text-align: left;
      font-family: ProximaNova;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
      padding: 12px 24px;
      border: solid 1px #d1d1d1;
    }
    .comment-list {
      height: 100%;
      overflow-y: auto;
      padding: 0 15px;
    }
    .comment-item {
      font-family: ProximaNova;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #070404;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      h5 {
        font-family: ProximaNova;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }
      .date {
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.94;
        letter-spacing: normal;
        color: #b3b6b8;
      }
      > .media {
        padding: 15px 0;
        border-bottom: solid 1px #d1d1d1;
      }
    }
  }
}
// block-notify
.block-notify {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #070404;
  position: absolute;
  right: 55px;
  top: 5px;
  width: 296px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 3px;
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
    position: absolute;
    right: -5px;
    top: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }
}
// block-btn-comment
.block-btn-comment {
  width: 50px;
  height: 50px;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 50px;
  border-radius: 50%;
  .icon {
    width: 30px;
    height: 30px;
    background: url(../assets/icon-comment/orion-new-chat@2x.png) no-repeat center center;
    background-size: contain;
  }
}
// mouse-notify
.block-wrapper-comment {
  background-color: rgba(20, 20, 20, 0.41);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mouse-notify {
  font-family: ProximaNova;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #7f7f7f;
  padding: 5px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: right .3s left .3s;
}
// comment-hotspot
.comment-hotspot {
  width: 30px;
  height: 30px;
  opacity: 0.6;
  border: solid 2px #ffffff;
  background-color: #070404;
  border-radius: 50%;
  &:hover {
    opacity: 1;
  }
}
div.comment-hotspot span {
  width: 30px!important;
  height: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  margin: 0!important;
  visibility: inherit;
  &:after {
    content: none!important;
  }
}
// block-form
.block-form {
  .block-wrapper-form {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .form-comment {
    label {
      font-family: ProximaNova;
      font-size: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
    textarea {
      font-family: ProximaNova;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: #6a6a6a;
      border-radius: 3px;
    }
    button {
      background-color: #070404;
      font-family: ProximaNova;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      border-radius: 0px;
      float: right;
      border-color: #070404;
      transition: all .3s;
      &:hover {
        color: #070404;
        background-color: white;
        border-color: #070404;
      }
    }
  }
  .comment-new {
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    max-width: 250px;
    width: 100%;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid white;
      position: absolute;
      left: -5px;
      top: 10px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    }
  }
  .comment-list {
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    max-width: 350px;
    width: 100%;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid white;
      position: absolute;
      left: -5px;
      top: 10px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    }
    .media {
      font-family: ProximaNova;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #070404;
      border-bottom: solid 1px #d1d1d1;
      padding-bottom: 15px;
      margin-bottom: 15px;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      h5 {
        font-family: ProximaNova;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }
      .date {
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.94;
        letter-spacing: normal;
        color: #b3b6b8;
      }
    }
    .form-add {
      .btn-add {
        border-radius: 3px;
        border: solid 1px #d1d1d1;
        font-family: ProximaNova;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #bbb8b8;
        width: 100%;
        text-align: left;
        padding: 7px 10px;
      }
    }
    .control {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 0;
      .edit {
        width: 24px;
        height: 24px;
        display: inline-block;
        background: url(../assets/icon-comment/edit@2x.png) no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
      }
      .delete {
        width: 24px;
        height: 24px;
        display: inline-block;
        background: url(../assets/icon-comment/delete@2x.png) no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
      }
    }
  }
}

.img-thumbnail {
  max-width: 150px;
}