$fitin-color-green: 		#23d160;
$fitin-color-blue: 		#0988ec;
$fitin-color-yellow: 		#ffce00;
$fitin-color-red: 		#d21f46;
$fitin-color-orange: 		#f16924;
$fitin-color-text: 		rgba(0, 0, 0, .87);

/*---- FONT FITIN  ----*/
$fitin-icon-family: "Font-fitin" !default;
$fitin-font-path: "../assets/fonts" !default;

$fit-2d: "\e91b";
$fit-3d: "\e91c";
$fit-ar: "\e901";
$fit-error: "\e902";
$fit-cart: "\e907";
$fit-vr: "\e904";
$fit-user: "\e909";
$fit-check: "\e90a";
$fit-share-o: "\e91e";
$fit-camera-path1: "\e90c";
$fit-camera-path2: "\e90d";
$fit-camera-path3: "\e90e";
$fit-arrow-single: "\e90f";
$fit-trash: "\e91a";
$fit-heart-o: "\e910";
$fit-heart-active: "\e911";
$fit-search: "\e91f";
$fit-window: "\e912";
$fit-lamp: "\e913";
$fit-chair: "\e919";
$fit-wishlist: "\e90b";
$fit-arrow-down: "\e916";
$fit-plus: "\e908";
$fit-minus: "\e900";
$fit-close: "\e903";
$fit-facebook: "\e905";
$fit-instagram: "\e906";
$fit-linkin: "\e915";
$fit-youtube: "\e917";
$fit-camera-o: "\e91d";
$fit-bundle: "\e914";
$fit-instruction: "\e918";
$fit-vehicle: "\e927";
$fit-build-mode: "\e928";
$fit-center-object: "\e929";
$fit-design: "\e92a";
$fit-door: "\e92b";
$fit-edit: "\e92c";
$fit-notification-path1: "\e92d";
$fit-notification-path2: "\e92e";
$fit-time-path1: "\e92f";
$fit-time-path2: "\e930";
$fit-drawing: "\e931";
$fit-couch: "\e932";
$fit-payment: "\e933";
$fit-change: "\e938";
$fit-zoom-out: "\e939";
$fit-zoom-in: "\e93a";
$fit-home: "\e934";
$fit-category: "\e937";
$fit-filter: "\e935";
$fit-cart-2: "\e936";
$fit-card: "\e93d";
$fit-profile: "\e93b";
$fit-search-2: "\e93c";
$fit-more: "\e93e";
$fit-receipt-path1: "\e93f";
$fit-receipt-path2: "\e940";
$fit-location: "\e941";
$fit-arrow-back: "\e942";
$fit-box: "\e943";
$fit-alarm: "\e944";
$fit-project: "\e945";
$fit-link-url: "\e946";
$fit-360: "\e925";
$fit-facebook-o: "\e920";
$fit-instagram-o: "\e921";
$fit-pinterest-o: "\e922";