<template>
  <a-layout id="components-layout-demo-custom-trigger">
    <a-layout-sider v-model="collapsed" :trigger="null" collapsible>
      <router-link :to="{ name: 'Dashboard' }"><div class="logo" /></router-link>
      <a-menu theme="dark" mode="inline" :default-selected-keys="current" v-model="current">
        <a-menu-item key="Dashboard">
          <router-link :to="{ name: 'Dashboard' }">
            <a-icon type="home" />
            <span class="text">Dashboard</span>
          </router-link>
        </a-menu-item>
        <a-menu-item key="ProjectList">
          <router-link :to="{ name: 'ProjectList' }">
            <a-icon type="codepen" />
            <span class="text">Project</span>
          </router-link>
        </a-menu-item>
        <a-menu-item key="ProjectRenovationList">
          <router-link :to="{ name: 'ProjectRenovationList' }">
            <a-icon type="code-sandbox" />
            <span class="text">Project Renovation</span>
          </router-link>
        </a-menu-item>
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header class="d-flex justify-content-between" style="background: #fff; padding: 0">
        <a-icon
          class="trigger"
          :type="collapsed ? 'menu-unfold' : 'menu-fold'"
          @click="() => (collapsed = !collapsed)"
        />
        <a-dropdown class="mr-3">
          <a class="user-nav-panel-inner" @click="e => e.preventDefault()">
            <a-avatar slot="avatar" :src="'https://picsum.photos/200'" />
            <a-icon type="down" />
          </a>
          <a-menu slot="overlay">
            <a-menu-item @click="handleLogout">
              <a-icon type="logout" />Logout
            </a-menu-item>
          </a-menu>
        </a-dropdown>
      </a-layout-header>
      <a-layout-content
        :style="{ padding: '12px 24px', minHeight: '100vh' }"
      >
        <transition name="fade">
          <router-view></router-view>
        </transition>
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>
<script>
export default {
  data() {
    return {
      collapsed: true,
      current: ['Dashboard']
    };
  },
  created(){
    this.checkActiveMenu(this.$route);
  },
  watch: {
    $route(to, from) {
      // react to route changes...
      this.checkActiveMenu(from);
    }
  },
  methods: {
    checkActiveMenu(route) {
      switch (route.name) {
        case 'ProjectList':
        case 'ProjectDetail':
        case 'LayoutList':
        case 'LayoutDetail':
          this.current = ['ProjectList']
          break;
        case 'ProjectRenovationList':
        case 'ProjectRenovationDetail':
        case 'LayoutRenovationList':
        case 'LayoutRenovationDetail':
          this.current = ['ProjectRenovationList']
          break;
        case 'Dashboard':
          this.current = ['Dashboard']
          break;
        default:
          this.current = ['Dashboard']
          break;
      }
    },
    handleLogout() {
      console.log('handleLogout');
      this.$store.dispatch('postLogout').then(res => {
        console.log(res);
        if (res.code === 0) {
          this.$message.success(res.message);
          this.$router.push({name: 'Login'});
        } else {
          this.$message.error(res.message);
        }
      }).catch(error => {
        console.log(error);
        this.$message.error(error);
      })
    }
  }
};
</script>
<style lang="scss">
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 50px;
  background: url(../assets/logo-w.png) no-repeat;
  background-size: contain;
  background-position: center;
  margin: 16px;
}
.ant-layout-sider-dark {
  background: #000;
}
.ant-menu-dark .ant-menu-item-selected .anticon + span,
.ant-menu-dark .ant-menu-item-selected .anticon {
  color: #000;
}
.ant-layout-sider-collapsed {
  .text {
    display: none;
  }
}
</style>