<template>
  <a-result status="403" title="403" sub-title="Sorry, you are not authorized to access this page.">
    <template #extra>
      <a-button type="primary" :href="URLHome">
        Back Home
      </a-button>
    </template>
  </a-result>
</template>
<script>
import { URLHome } from "@/config";
export default {
  data() {
    return {
      URLHome
    };
  },
};
</script>
