<template>
  <a-result status="404" title="404" sub-title="Sorry, the page you visited does not exist.">
    <template #extra>
      <a-button type="primary" :href="URLHome">
        Back Home
      </a-button>
    </template>
  </a-result>
</template>
<script>
import { URLHome } from "@/config";
export default {
  data() {
    return {
      URLHome
    };
  },
};
</script>
