<template>
  <a-result status="500" title="500" sub-title="Sorry, the server is wrong.">
    <template #extra>
      <a-button type="primary" :href="URLHome">
        Back Home
      </a-button>
    </template>
  </a-result>
</template>
<script>
import { URLHome } from "@/config";
export default {
  data() {
    return {
      URLHome
    };
  },
};
</script>
